<%var htmlPart = {%>
<div class="ui segment teal">
    <div class="ui equal width form">
        <div class="fields">
            <div class="field">
                <label>借款人</label>
                <input type="text" id="borrower" placeholder="请填写借款人">
            </div>
            <div class="field">
                <label>产品大类</label>
                <select name="productType" class="ui dropdown" id="productType">
                </select>
            </div>
            <div class="field">
                <label>产品子类</label>
                <select name="product" class="ui dropdown" id="product">
                </select>
            </div>


        </div>
        <div class="fields">
            <div class="field">
                <label>提交时间</label>
                <input type="text" id="approvalTime" placeholder="请选择提交时间">
            </div>
            <div class="field">
                <label>状态</label>
                <select name="status" id="status" class="ui dropdown">
                    <option value="">全部</option>
                    <% for(status in statusList){%>
                    <option value="${status}">${status.description}</option>
                    <%}%>
                </select>
            </div>
            <div class="field">
                <label>渠道</label>
                <div id="managerChannelSearch" class="ui search">
                    <div class="ui icon input">
                        <input value="" class="prompt" type="text" placeholder="输入渠道名/渠道简称"
                               name="channelSearchName" >
                        <i class="js_search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
                <input type="hidden" id="channelId">
            </div>

        </div>
        <div class="fields">
            <div class="field">
                <label>&nbsp;</label>
                <div class="aligned center">
                    <button class="ui tiny submit button teal" onclick="queryList();">查询</button>
                    <button class="ui tiny button clear" onclick="queryFormReset();" type="reset">重置</button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="ui hidden divider"></div>

<!--流程列表-->
<!--列表-->
<div class="row" id="">
    <div class="column">
        <div class=" ui segment teal">
            <a class="ui teal left ribbon label">业务申请列表</a>
            <table class="ui  celled table compact  small" id="loanList">
                <thead>
                <tr>
                    <th>业务单号</th>
                    <th>产品大类</th>
                    <th>产品子类</th>
                    <th>业务来源</th>
                    <th>借款人</th>
                    <th>申请金额（元）</th>
                    <th>期限</th>
                    <th>状态</th>
                    <th>审批状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%};%>


<%var jsPart = {%>
<script type="text/javascript" src="/js/plugins/moment.min.js"></script>
<script type="text/javascript" src="/js/plugins/jquery.daterangepicker.js"></script>
<script type="text/javascript" src="/js/common/two-cascade.js"></script>

<script>
    var  productTypeCascade = TwoCascade({parentSelect:$("#productType"),subSelect:$("#product")})
    productTypeCascade.create();
    /**
     * 重置表单
     */
    function queryFormReset() {
        $("#borrower").val("");
        $("#approvalTime").val("");
        $("#status").val("");
        $(".js_search.close").each(function(){
            $(this).click();
        });
        productTypeCascade.reset();
    }

    /**
     * 查询列表
     */
    function queryList() {

        var dtTable = $("#loanList").DataTable({
            serverSide: true,//服务端分页
            searching: false,//显示默认搜索框
            ordering: false,//开启排序
            bDestroy: true,
            "ajax": {
                "url": "/business_apply/query_apprpval_compltet_list",
                "data": function (d) {
                    var data = {};
                    data.borrower = $("#borrower").val();
                    data.approvalTime = $('#approvalTime').val();
                    data.status = $("#status").val();
                    data.product = $('#product').val();
                    data.channelId = $("#channelId").val();
                    data.productType = $('#productType').val();
                    var _d = $.extend({},{searchKeys:data},{start:d.start,length:d.length,draw:d.draw});
                    return JSON.stringify(_d);
                },
                "type": "POST"
            },
            columns: [
                {data: 'code'},
                {data: "productTypeName"},
                {data: "productName"},
                {data: "saleName"},
                {data: "borrserName"},
                {data: null},
                {data: null},
                {data: null},
                {data: null},
                {data: null}
            ],
            columnDefs: [{
                targets:5,
                className:'right aligned',
                render: function (data, type, row, meta) {
                    return accounting.formatMoney(data.amount,'',2,',','.');
                }
            },{
                targets: 6,
                render: function (data, type, row, meta) {
                    if("FIXED_DATE"==data.termType){
                        return "至"+data.term;
                    }else{
                        if(data.termType!=undefined && enums.loanTermType[data.termType] != undefined){
                            return data.term + enums.loanTermType[data.termType];
                        }else{
                            return "--";
                        }

                    }
                }
            }, {
                targets: 7,
                render: function (data, type, row, meta) {
                    return enums.loan_status[data.loanStatus];
                }
            }, {
                targets: 8,
                render: function (data, type, row, meta) {
                    if("CANCEL" == row.loanStatus || "SAVE" == row.loanStatus){
                        return enums.loan_status[row.loanStatus];
                    }
                    if("APPROVEEND" == row.loanStatus || "LOANED" == row.loanStatus || "CLEARED" == row.loanStatus || "OVERDUE" == row.loanStatus || "APPROVEREJECT" == row.loanStatus){
                        return data.approveStatus;
                    }else {
                        if(null != data.nextStatus){
                            return data.nextStatus+'-等待审批';
                        }
                        return data.approveStatus;
                    }
                }
            }, {
                className: "single line",
                targets: 9,
                render: function (data, type, row, meta) {
                    return '<a target="_blank" href="/business_apply/detail?id=' + row.id + '&tab=riskControl&process=false&comeFrom='+window.location.pathname+'" class="ui mini basic button"><i class="info circle icon"></i>查看</a>';
                }
            }
            ],
            "iDisplayLength": 20,
            "aLengthMenu": [
                [20],
                [20]
            ],
        });
    }

    queryList();

    $("#approvalTime").dateRangePicker({separator: '~'});

    function getManager(obj){
        $('#'+obj).search({
            apiSettings: {
                method: "post",
                url: '/channel/list_channel_name' + '?channelName={query}&channelType=1'
            },
            fields: {
                results: 'data',
                title: 'name',
                description: 'code'
            },
            onSelect: function (data) {
                var $this = $('#'+obj);
                $this.find('input').attr('readonly',true);
                $this.find('.js_search').addClass('close');
                $this.find('.js_search').css('pointer-events','auto');
                $("#channelId").val(data.id);
            },
            onResults: function(data) {}
        });
    }
    getManager('managerChannelSearch');

    $(document).on('click','.js_search.close',function(){
        $(this).css('pointer-events','none');
        $(this).siblings('input').attr('readonly',false);
        $(this).siblings('input').val("");
        $(this).removeClass('close');
        $("#channelId").val("");
    });
</script>
<%};%>


<% include("/common/menu.html", {jsSection:jsPart, htmlSection:htmlPart,title:"风控审批查询"}){} %>