<script type="text/javascript">
    function view1(repayId){
        $("#repayId").val(repayId);
        $.get("/loan/query_repay_record",{
            loanId:utils.getUrlParam("id"),
            repayId:repayId
        },function(data){
            $("#repayId").val(repayId);
            data.isBill = ProductTempType.isBill();
            data.f_repayDate=function(){
                return moment(this.repayDate).format("YYYY-MM-DD");
            }
            data.f_repayAmount=function(){
                return accounting.toFixed(this.repayAmount,2);
            }
            data.f_repayInterest=function(){
                return accounting.toFixed(this.repayInterest,2);
            }
            data.f_repayTotalAmount=function(){
                return accounting.toFixed(this.repayTotalAmount,2);
            }
            data.f_feeType=function(){
                return enums.feeType[this.feeType];
            }
            $("#repayViewTableExtension").html(utils.render("#repayViewTableExtension-template-forQuery",data));
            if(data.loanRepay && data.loanRepay.remark){
                $("#gatherRecordViewModal2 #remark2").text(data.loanRepay.remark);
            }
        });
        $("#gatherRecordViewModal2").modal({
            observeChanges: true,
            blurring: true
        }).modal('show')
    }

    function closeViewWindow() {
        $("#gatherRecordViewModal2 #remark2").text("");
    }

    //form表单的关联
    $(document).on('change','#extensionDetailFrom select[name="termType"]',function(){
        var monthTextArry = ['比例计息(%)/月','金额计息(元)/月'];
        var elseTextArry = ['比例计息(%)/天','金额计息(元)/天'];
        if($(this).val() == 'FIXED_DATE'){
            $("#extensionDetailFrom input[name='term']").on('click', function() {
                laydate({min:laydate.now(1)});
            });
        }else{
            $("#extensionDetailFrom input[name='term']").off();
        }
        if($(this).val()=='MOTHS'){
            $('select[name="loanLimitType"] option').each(function(n,ele){
                $(ele).text(monthTextArry[n]);
            });
            $('#repayMethod').removeClass('ks-hidden');
            $('#repayMethod select[name="repayMethod"]').attr('disabled',false);
        }else{
            $('select[name="loanLimitType"] option').each(function(n,ele){
                $(ele).text(elseTextArry[n]);
            });
            $('#repayMethod').addClass('ks-hidden');
            $('#repayMethod select[name="repayMethod"]').attr('disabled',true);
        }
    });

    //校验
    $.fn.form.settings.rules.termRule = function(value){
        var type = $('#extensionDetailFrom').find('select[name="termType"]').val();
        if(type != 'FIXED_DATE'){
            var reg = new RegExp("^[1-9]*[1-9][0-9]*$","gim");
            return (reg.test(value)) || value == "";
        }else{
            var reg = /^[1-2][0-9][0-9][0-9]-(0[1-9]|1[012])-(0[1-9]|[12]\d|3[01])$/;
            return (reg.test(value)) || value == "";
        }
    };

    $.fn.form.settings.rules.termSize = function(value,size){
        var size_month=  parseFloat(size.split('-')[0]);
        var size_day = parseFloat(size.split('-')[1]);
        var type = $('#extensionDetailFrom').find('select[name="termType"]').val();
        if(type == 'DAYS'){
            return parseFloat(value) <= size_day;
        }else if(type =='MOTHS'){
            return parseFloat(value) <= size_month;
        }else{
            return true;
        }
    };

    $.fn.form.settings.rules.lastDate = function(value){
        var type = $('#extensionDetailFrom').find('select[name="termType"]').val();
        if($('#last_date').val() !=''){
            if(type == 'FIXED_DATE'){
                var nowTime = value.split('-');
                var lastTime = $('#last_date').val().split('-');
                var a = moment([nowTime[0],nowTime[1]-1,nowTime[2]]);
                var b = moment([lastTime[0],lastTime[1]-1,lastTime[2]]);
                var dif = a.diff(b, 'days');
                return dif > 0;
            }else{
                return true;
            }
        }else{
            return true;
        }

    };


    var addExtensionFrom = {
        inline: true,
        on: 'blur',
        fields: {
            term:{
                identifier: 'term',
                rules:[{
                    type: 'empty',
                    prompt: '展期期限不为空'
                },{
                    type:'termRule',
                    prompt:'输入正确格式的日期（天/月：大于0的正整数，固定时间："yyyy-mm-dd")'
                },{
                    type:'termSize[12-365]',
                    prompt:'期限范围（天：1-365；月：1-12）'
                },{
                    type:'lastDate',
                    prompt:'展期期限大于最后应还日期'
                }]
            },
            interest:{
                identifier: 'interest',
                rules:[{
                    type: 'empty',
                    prompt: '展期利息不为空'
                },{
                    type:'canBeDecimal[10]',
                    prompt:'最多10位小数'
                }]
            },
            feeAmount:{
                identifier: 'feeAmount',
                rules:[{
                    type: 'empty',
                    prompt: '展期费用不为空'
                },{
                    type:'canBeDecimal[2]',
                    prompt:'最多2位小数'
                }]
            },
            enterpriseExplain:{
                identifier: 'enterpriseExplain',
                rules:[{
                    type: 'maxLength[300]',
                    prompt: '300字符长度'
                }]
            }
        }
    }

    //发送请求增加展期
    $(document).on('click','#extension_addForm',function(){
        $.uiDialog('展期确认后会即时更新还款计划，无法修改，确认展期吗？',{
            onApprove:function(){
                $('#extensionDetailFrom').form(addExtensionFrom).api({
                    action: 'extension insert',
                    method: 'POST',
                    beforeSend:function(settings){
                        var $this = $('#extensionDetailFrom');
                        settings.data["loanId"] = utils.getUrlParam('id');
                        settings.data["termType"] =$this.find('select[name="termType"]').val();
                        settings.data["repayMethod"] =$this.find('select[name="repayMethod"]').prop('disabled')? '':$this.find('select[name="repayMethod"]').val();
                        settings.data["term"] = $this.find('input[name="term"]').val();
                        settings.data["loanLimitType"] = $this.find('select[name="loanLimitType"]').val();
                        settings.data["interest"] = $this.find('input[name="interest"]').val();
                        settings.data["enterpriseExplain"] =$this.find('textarea[name="enterpriseExplain"]').val();
                        return settings;
                    },
                    onSuccess:function(response){
                        $.uiAlert({
                            type: "success",
                            textHead: '保存成功',
                            text: '',
                            time: 1,
                            onClosed:function(){
                                window.location.href = '/business_apply/extension';
                            }
                        });
                    },
                    onFailure:function(response){
                        $.uiAlert({type: "danger", textHead: '保存失败', text: response.msg, time: 4});
                    }
                });
                $("#extensionDetailFrom").submit();
            }
        })
    });

    //生成还款计划
    $(document).on('click','#extension_loan_repay',function(){
        $('#extensionDetailFrom').form(addExtensionFrom).api({
            action: 'extension loan repay',
            method: 'POST',
            beforeSend:function(settings){
                var $this = $('#extensionDetailFrom');
                settings.data["loanId"] = utils.getUrlParam('id');
                settings.data["termType"] =$this.find('select[name="termType"]').val();
                settings.data["repayMethod"] =$this.find('select[name="repayMethod"]').prop('disabled')? '':$this.find('select[name="repayMethod"]').val();
                settings.data["term"] = $this.find('input[name="term"]').val();
                settings.data["loanLimitType"] = $this.find('select[name="loanLimitType"]').val();
                settings.data["interest"] = $this.find('input[name="interest"]').val();
                return settings;
            },
            onSuccess:function(data){
                data.newRepayList = data.data;
                data.f_dueDate=function(){
                    return moment(this.dueDate).format("YYYY-MM-DD");
                }
                data.f_amount=function(){
                    return accounting.formatNumber(this.amount,2,",");
                }
                data.f_interest=function(){
                    return accounting.formatNumber(this.interest,2,",");
                }
                data.f_total=function(){
                    return accounting.formatNumber(this.feeAmount,2,",");
                }
                data.f_repay_total = function(){
                    return accounting.formatNumber(this.totalAmount,2,",");
                }
                data.f_name=function(){
                    return enums.feeType[this.feeType];
                };
                data.f_feeAmount=function(){
                    return accounting.formatNumber(this.feeAmount,2,",")
                }
                data.f_repayFeeAmount=function(){
                    return accounting.formatNumber(this.repayFeeAmount,2,",");
                }
                data.f_repayDate=function(){
                    return moment(this.repayDate).format('YYYY-MM-DD');
                }
                data.f_status=function(){
                    if(null != this.loanRepay){
                        return enums.Loan_repay_status[this.status];
                    }
                    return enums.Loan_repay_status[this.status];
                }
                data.f_remark = function (){
                    if(this.remark){
                        return this.remark;
                    }else{
                        return '--'
                    }
                }
                $('.js_new_loan_repay').removeClass('ks-hidden');
                var extensionHtm = utils.render("#extensionLoanRepayTmp",data);
                $('#new_loan_repay').html(extensionHtm);
            },
            onFailure:function(response){
                $.uiAlert({type: "danger", textHead: '生成失败', text: response.msg, time: 4});
            }
        });
        $("#extensionDetailFrom").submit();
    });

</script>

<style>
    .actions {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<script type="text/mustach-template" id="repayViewTableExtension-template-forQuery">
    {{#isBill}}
    <thead>
    <th>序号</th>
    <th>还款日期</th>
    <th class="right aligned">实还金额</th>
    </thead>
    <tbody>
    {{#loanRepayRecordList}}
    <tr>
        <td>1</td>
        <td>{{f_repayDate}}</td>
        <td class="right aligned">{{f_repayAmount}}</td>
    </tr>
    {{/loanRepayRecordList}}
    {{^loanRepayRecordList}}
    <td colspan="3" class="center aligned">暂无数据</td>
    {{/loanRepayRecordList}}
    </tbody>
    {{/isBill}}
    {{^isBill}}
    <thead>
    <th>序号</th>
    <th>还款日期</th>
    <th class="right aligned">实还本金</th>
    <th class="right aligned">实还利息</th>
    {{#loanFeeList}}
    <th class="right aligned">{{f_feeType}}</th>
    {{/loanFeeList}}
    <th class="right aligned">总计</th>
    </thead>
    <tbody>
    {{#loanRepayRecordList}}
    <tr>
        <td>{{period}}</td>
        <td>{{f_repayDate}}</td>
        <td class="right aligned">{{f_repayAmount}}</td>
        <td class="right aligned">{{f_repayInterest}}</td>
        {{#feeList}}
        <td class="right aligned">{{repayFeeAmount}}</td>
        {{/feeList}}
        <td class="right aligned">{{f_repayTotalAmount}}</td>
    </tr>
    {{/loanRepayRecordList}}
    {{^loanRepayRecordList}}
    <tr>
        <td colspan="8" class="center aligned">暂无数据</td>
    </tr>
    {{/loanRepayRecordList}}
    </tbody>
    {{/isBill}}
</script>

<!--生成新还款计划-->
<script type="text/mustach-template" id="extensionLoanRepayTmp">
    {{#newRepayList}}
    <tr>
        <td>{{period}}</td>
        <td >{{f_dueDate}}</td>
        <td class="right aligned">{{f_amount}}</td>
        <td class="right aligned">{{f_interest}}</td>
        <td class="right aligned">{{f_total}}</td>
        <td class="right aligned">{{f_repay_total}}</td>
        <td>{{f_status}}</td>
        <td><a href="javascript:;" onclick="view1('{{id}}')">查看</a></td>
        <td>{{f_remark}}</td>
    </tr>
    {{/newRepayList}}
    {{^newRepayList}}
    <tr>
        <td colspan="7" class="center aligned">暂无数据</td>
    </tr>
    {{/newRepayList}}
</script>

<script type="text/mustach-template" id="extensionTemplate">
    <div class="ui bottom teal segment">
        <a class="ui teal left ribbon label">业务展期</a>
        <input type="hidden" id="last_date" value="{{last_Date}}">
        <div id="extensionDetailInfo" class="ui segment form">
            <!--增加展期表单-->
            <form id="extensionDetailFrom">
                {{#is_extension}}
                <div class="three fields">
                    <div class="field">
                        <label>展期期限类型</label>
                        <select name="termType">
                            {{#isDays}}
                            <option value="DAYS">天</option>
                            <option value="FIXED_DATE">固定时间</option>
                            {{/isDays}}
                            {{^isDays}}
                            <option value="DAYS">天</option>
                            <option value="MOTHS">月</option>
                            <option value="FIXED_DATE">固定时间</option>
                            {{/isDays}}
                        </select>
                    </div>
                    <div class="field required">
                        <label>展期期限</label>
                        <input type="text" name="term">
                    </div>
                    <div class="field required ks-hidden" id="repayMethod">
                        <label>还息类型</label>
                        <select name="repayMethod" disabled="disabled">
                            <option value="BULLET_REPAYMENT">一次性还本付息</option>
                            <option value="INTEREST_MONTHS">先息后本（按月）</option>
                        </select>
                    </div>

                </div>
                <div class="three fields">
                    <div class="field">
                        <label>展期利息类型</label>
                        <select name="loanLimitType">
                            <option value="FIX_RATE">比例计息(%)/天</option>
                            <option value="FIX_AMOUNT">金额计息(元)/天</option>
                        </select>
                    </div>
                    <div class="field required">
                        <label>展期利息</label>
                        <input type="text" name="interest">
                    </div>
                </div>
                <div class="three fields">
                    <div class="field">
                        <label>说明</label>
                        <textarea name="enterpriseExplain" cols="30" rows="10">

                        </textarea>
                    </div>
                </div>
                {{/is_extension}}
                {{^is_extension}}
                    {{#sl_isExtension}}
                    <div class="fields">
                        <div class="field inline">
                            <b>暂无展期</b>
                        </div>
                    </div>
                    {{/sl_isExtension}}
                    {{^sl_isExtension}}
                    <div class="fields">
                        <div class="field inline">
                            <label>展期期限：</label>
                            <span id="extension_time"></span>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field inline">
                            <label>展期利息：</label>
                            <span id="extension_rate"></span>
                            <span class="ui header orange small js_sq">[期末收取]</span>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field inline">
                            <label>说明：</label>
                            <div class="break-all">
                                <pre class="auto" id="extension_explain"></pre>
                            </div>
                        </div>
                    </div>
                    {{/sl_isExtension}}
                {{/is_extension}}
            </form>

            <div class="ui grid">
                <div class="row">
                    <div class="column">
                        <b for="">
                            原还款计划：
                        </b>
                        {{#oldRepayList}}
                        <table class="ui celled table teal">
                            <thead>
                            <tr>
                                <th>期数</th>
                                <th>应还日期</th>
                                <th class="right aligned">应还本金（元）</th>
                                <th class="right aligned">应还利息（元）</th>
                                <th class="right aligned">应还综合服务费（元）</th>
                                <th class="right aligned">还款总额（元）</th>
                                <th>还款状态</th>
                                <th>还款记录</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody class="js_his_list">
                            </tbody>
                        </table>
                        {{/oldRepayList}}
                    </div>
                </div>

                <div class="row js_old_lastLoan_repay ks-hidden">
                    <div class="column">
                        <table class="ui celled  table teal">
                            <thead>
                            <tr>
                                <th>期数</th>
                                <th>应还日期</th>
                                <th class="right aligned">应还本金（元）</th>
                                <th class="right aligned">应还利息（元）</th>
                                <th class="right aligned">应还综合服务费（元）</th>
                                <th class="right aligned">还款总额（元）</th>
                                <th>还款状态</th>
                                <th>还款记录</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody id="lastLoan_repay">

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <br>
            {{#is_extension}}
            <a href="JavaScript:;" class="ui button teal" id="extension_loan_repay">生成新还款计划</a>
            {{/is_extension}}
            {{^is_extension}}
            <b for="">
                新还款计划：
            </b>
            {{/is_extension}}
            <br>
            <br>
            <div class="ui grid js_new_loan_repay ks-hidden">
                <div class="row">
                    <div class="column">
                        <table class="ui celled  center aligned table teal">
                            <thead>
                            <tr>
                                <th>期数</th>
                                <th>应还日期</th>
                                <th class="right aligned">应还本金（元）</th>
                                <th class="right aligned">应还利息（元）</th>
                                <th class="right aligned">应还综合服务费（元）</th>
                                <th class="right aligned">还款总额（元）</th>
                                <th>还款状态</th>
                                <th>还款记录</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody id="new_loan_repay">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{#is_extension}}
            <div class="actions">
                <div id="extension_addForm" class="ui button teal">
                    申请展期
                </div>
            </div>
            {{/is_extension}}
        </div>
    </div>
    <!--还款记录-->
    <div class="ui modal" id="gatherRecordViewModal2">
        <i class="close icon" onclick="closeViewWindow()"></i>
        <div class="header">
            还款记录
        </div>
        <div class="content">
            <form class="ui form">
                <div class="fields inline">
                    <label>备注：</label>
                    <div class="field fourteen wide" style="word-break: break-word">
                        <pre class="auto" id="remark2"></pre>
                    </div>
                </div>
                <div class="ui segment">
                    <table class="ui teal celled table" id="repayViewTableExtension">
                    </table>
                </div>
            </form>
        </div>
    </div>
</script>