<div class="column sixteen wide">
    <form id="step1Form" class="ui form">
        <div class="ui segment teal">
            <div class="two fields margin20t">
                <div class="field disabled">
                    <label>产品大类</label>
                    <input type="text" value="${prdType.name}">
                </div>
                <div class="field disabled">
                    <label>产品子类</label>
                    <input id="productChild" type="text" value="${prd.name}">
                </div>
            </div>
            <div class="two fields margin20t">
                <div class="field">
                    <label>类型</label>
                    <select class="ui fluid dropdown" name="channelType">
                        <% if(user.type == 'COMPANY_USER'){%>
                            <% if(channelType == "0"){ %>
                            <option value="0" selected>自营</option>
                            <option value="1">渠道</option>
                            <% }else{ %>
                            <option value="0">自营</option>
                            <option value="1" selected>渠道</option>
                            <% } %>
                        <% }else{ %>
                            <option value="1" selected>渠道</option>
                        <% } %>
                    </select>
                </div>
                <% if(user.type == 'COMPANY_USER'){%>
                <div class="field required">
                    <label>放款主体</label>
                    <select class="ui fluid dropdown" name="loanSubjectId">
                        <option value="">请选择</option>
                        <% for(subject in loanSubjects) {%>
                        <option value="${subject.id}"  <% if(loan.loanSubjectId == subject.id){ %>selected<% } %> >${subject.name}</option>
                        <% } %>
                    </select>
                </div>
                <%}%>
            </div>

            <div class="equal width fields margin20t">
                <div class="field required">
                    <% if(channelType == "0"){ %>
                    <label id="managerName">承揽业务员</label>
                    <% }else{ %>
                    <label id="managerName">业务来源</label>
                    <% } %>

                    <!--渠道-->
                    <% if(channelType == "0"){ %>
                    <div id="managerChannelSearch" class="ui search ks-hidden">
                        <div class="ui icon input">
                            <input value="" class="prompt" type="text" placeholder="输入渠道名/渠道简称"
                                   name="channelSearchName" >
                            <i class="js_search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <% }else{ %>
                    <div id="managerChannelSearch" class="ui search">
                        <div class="ui icon input">
                            <input value="${channelName}" class="prompt" type="text" placeholder="输入渠道名/渠道简称"
                                   name="channelSearchName" >
                            <i class="js_search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <% } %>

                    <!--自营-->
                    <% if(channelType == "0"){ %>
                    <div id="channelSearch" class="ui search">
                        <div class="ui icon input">
                            <input value="${loan.saleName}" class="prompt" type="text" placeholder="输入业务人员或代码" name="org.managerName">
                            <i class="js_search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <% }else{ %>
                    <div id="channelSearch" class="ui search ks-hidden">
                        <div class="ui icon input">
                            <input value="" class="prompt" type="text" placeholder="输入业务人员或代码" name="org.managerName">
                            <i class="js_search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                    <% } %>
                </div>

                <%if(channelType == "0"){%>
                <div class="field required" id="engagedChannel">
                    <label>承做业务员</label>
                    <div id="engagedChannelSearch" class="ui search">
                        <div class="ui icon input">
                            <input value="${loan.engagedSaleName}" class="prompt" type="text" placeholder="输入渠道名/渠道简称"
                                   name="engagedSaleName">
                            <i class="js_search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                <%}else{%>
                <div class="field required" id="engagedChannel">
                    <label>承做业务员</label>
                    <div id="engagedChannelSearch" class="ui search">
                        <div class="ui icon input">
                            <input value="" class="prompt" type="text" placeholder="输入渠道名/渠道简称"
                                   name="engagedSaleName">
                            <i class="js_search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                <%}%>

                <% if(channelType == "0"){ %>
                <div class="field" id="channelSource">
                    <label>业务提供方</label>
                    <div id="partnerSearch" class="ui search">
                        <div class="ui icon input">
                            <input value="${channelName}" class="prompt" type="text" placeholder="" name="partnerName">
                            <i class="js_search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                <% }else{ %>
                <div class="field ks-hidden" id="channelSource">
                    <label>业务提供方</label>
                    <div id="partnerSearch" class="ui search">
                        <div class="ui icon input">
                            <input disabled value="" class="prompt" type="text" placeholder="" name="partnerName">
                            <i class="js_search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                <% } %>
            </div>

        </div>

        <div class="ui segment teal">
            <a class="ui teal left ribbon label">借款人信息</a>
            <h5 class="ui dividing header teal">
                <span class="padding50r">主借款人&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <div id="btn-addMainBorrower" class="ui button mini basic teal pull-right">
                    新建
                </div>
                <span class="red-required">*</span>
                <div class="ui icon input mini field">
                    <input name="mainCertifNumber" id="input-mainCertifNumber" type="text" placeholder="输入证件号码">
                    <i class="search icon"></i>
                </div>
                <div id="js-queryMainBorrower" class="ui button mini basic">
                    确定
                </div>
            </h5>
            <div id="mainBorrowerList" class="ui cards">
                <div id="borrower-${loanBorrower.borrowerId}" class="card item" data-id="${loanBorrower.borrowerId}">
                    <div class="content">
                        <a data-borrowerid="${loanBorrower.borrowerId}" class="btn-borrowerRemove">
                            <i class="right floated remove icon red font-20"></i>
                        </a>
                        <a data-borrowerid="${loanBorrower.borrowerId}" data-certif_type="${loanBorrower.certifType}" class="btn-borrowerEdit">
                            <i class="right floated edit icon font-20"></i>
                        </a>
                        <div class="header">
                            <span class="borrower-name">${loanBorrower.name}</span>
                        </div>
                        <div class="meta">
                            <i class="volume control phone icon"></i>
                            手机号码:
                            <span class="borrower-phone">${loanBorrower.phone}</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="credit card alternative icon"></i>
                            <% if(loanBorrower.certifType == "ID"){ %>
                                <span class="borrower-certifType">身份证</span>
                            <% }else if(loanBorrower.certifType == "BUSINESS_LICENSE"){ %>
                                <span class="borrower-certifType">营业执照编号</span>
                            <% }else{ %>
                            <span class="borrower-certifType">港澳台证件号</span>
                            <% } %>:
                            <span class="borrower-certifNumber">${loanBorrower.certifNumber}</span>
                        </div>
                        <div class="description">
                            <i class="location arrow icon"></i>
                            家庭地址:
                            <span class="borrower-address">${loanBorrower.address}</span>
                        </div>
                    </div>
                </div>
            </div>

            <h5 class="ui dividing header teal margin80t">
                <span class="padding50r">共同借款人</span>
                <div id="btn-addCommonBorrower" class="ui button mini basic teal pull-right">
                    新建
                </div>
                <div class="ui icon input mini field">
                    <input name="commonCertifNumber" id="input-commonCertifNumber" type="text" placeholder="输入证件号码">
                    <i class="search icon"></i>
                </div>
                <div id="js-queryCommonBorrower" class="ui button mini basic">
                    确定
                </div>
            </h5>
            <div id="commonBorrowerList" class="ui cards">
                <% for(item in loanBorrowers){ %>
                <div id="borrower-${item.borrowerId}" class="card item" data-id="${item.borrowerId}">
                    <div class="content">
                        <a data-borrowerid="${item.borrowerId}" class="btn-borrowerRemove">
                            <i class="right floated remove icon red font-20"></i>
                        </a>
                        <a data-borrowerid="${item.borrowerId}" data-certif_type="${item.certifType}" class="btn-borrowerEdit">
                            <i class="right floated edit icon font-20"></i>
                        </a>
                        <div class="header">
                            <span class="borrower-name">${item.name}</span>
                        </div>
                        <div class="meta">
                            <i class="volume control phone icon"></i>
                            手机号码:
                            <span class="borrower-phone">${item.phone}</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="credit card alternative icon"></i>
                            <% if(item.certifType == "ID"){ %>
                            <span class="borrower-certifType">身份证</span>
                            <% }else if(item.certifType == "BUSINESS_LICENSE"){ %>
                            <span class="borrower-certifType">营业执照编号</span>
                            <% }else{ %>
                            <span class="borrower-certifType">港澳台证件号</span>
                            <% } %>:
                            <span class="borrower-certifNumber">${item.certifNumber}</span>
                        </div>
                        <div class="description">
                            <i class="location arrow icon"></i>
                            家庭地址:
                            <span class="borrower-address">${item.address}<span>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>


            <h5 class="ui dividing header teal margin80t">
                <span>收款账户</span>
                <div id="btn-addBank" class="ui button mini basic teal pull-right">
                    添加
                </div>
            </h5>
            <div id="main_banks" class="ui segment">
                <% for(item in borrowerAccounts){ %>
                <% if(itemLP.index == 1){ %>
                <div class="ui form">
                <div class="four fields relative">
                    <div class="field required">
                        <label>收款人</label>
                        <input value="${item.name}" name="account.name" type="text">
                    </div>
                    <div class="field required">
                        <label>开户行（需输入具体的支行）</label>
                        <input value="${item.bank}" name="account.bank" type="text">
                    </div>
                    <div class="field required">
                        <label>收款账号</label>
                        <input class="js-bankCard" value="${item.account}" name="account.account" type="text">
                    </div>
                    <div class="field required">
                        <label>借款本金（元）</label>
                        <input value="${item.amount}" name="account.amount" type="text">
                    </div>
                </div>
                </div>
                <% }else{ %>
                <div class="ui form">
                <div class=" four fields relative">
                    <div class="field required">
                        <label>收款人</label>
                        <input value="${item.name}" name="account.name" type="text">
                    </div>
                    <div class="field required">
                        <label>开户行（需输入具体的支行）</label>
                        <input value="${item.bank}" name="account.bank" type="text">
                    </div>
                    <div class="field required">
                        <label>收款账号</label>
                        <input value="${item.account}" name="account.account" type="text">
                    </div>
                    <div class="field required">
                        <label>借款本金（元）</label>
                        <input value="${item.amount}" name="account.amount" type="text">
                    </div>
                    <div class="circular ui icon button floatBtn mini js-removeBank">
                        <i class="icon remove"></i>
                    </div>
                </div>
                </div>
                <% } %>
                <% }elsefor{ %>
                <div class="ui form">
                <div class=" four fields relative">
                    <div class="field required">
                        <label>收款人</label>
                        <input name="account.name" type="text">
                    </div>
                    <div class="field required">
                        <label>开户行（需输入具体的支行）</label>
                        <input name="account.bank" type="text">
                    </div>
                    <div class="field required">
                        <label>收款账号</label>
                        <input class="js-bankCard" name="account.account" type="text">
                    </div>
                    <div class="field required">
                        <label>借款本金（元）</label>
                        <input name="account.amount" type="text">
                    </div>
                </div>
                </div>
                <% } %>
            </div>
        </div>

        <div class="ui error message"></div>

        <%if(loan.loanStatus == "SAVE" || loan.loanStatus == "CHANNELSAVE"){%>
        <div class="actions">
            <div id="btn-submit" class="ui button  teal">确定</div>
        </div>
        <%}%>

        <input type="hidden" name="id" value="${loan.id}">
        <input type="hidden" name="productTypeId" value="${prdType.id}">
        <input type="hidden" name="productId" value="${prd.id}">
        <input type="hidden" name="saleId" value="${loan.saleId}">
        <input type="hidden" name="engagedSaleId" value="${loan.engagedSaleId}">
        <input type="hidden" name="channelId" value="${loan.channelId}">
    </form>
</div>

<div class="ui form ks-hidden" id="demo-bank" >
<div  class=" four fields  relative">
    <div class="field required">
        <label>收款人</label>
        <input name="account.name" type="text">
    </div>
    <div class="field required">
        <label>开户行（需输入具体的支行）</label>
        <input name="account.bank" type="text">
    </div>
    <div class="field required">
        <label>收款账号</label>
        <input class="js-bankCard" name="account.account" type="text">
    </div>
    <div class="field required">
        <label>借款本金（元）</label>
        <input name="account.amount" type="text">
    </div>
    <div class="circular ui icon button floatBtn mini js-removeBank">
        <i class="icon remove"></i>
    </div>
</div>
</div>

<div id="modal-addBorrower" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        新建借款人
    </div>
    <div class="content">
        <form id="form-addBorrower" class="ui form padding80">
            <div class="field required">
                <label>借款人姓名</label>
                <input name="name" type="text">
            </div>
            <div class="field required">
                <label>证件类型</label>
                <div class="three fields">
                    <div class="field five wide">
                        <select class="ui fluid search dropdown" name="certifType">
                            <option value="ID">身份证</option>
                            <option value="BUSINESS_LICENSE">营业执照编号</option>
                            <option value="PASS_ID">港澳台证件号</option>
                        </select>
                    </div>
                    <div class="field eleven wide">
                        <input type="text" name="certifNumber">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>手机号码</label>
                <input type="text" name="phone">
            </div>
            <div class="field sixteen wide">
                <label>家庭地址</label>
                <input type="text" name="address">
            </div>
            <div class="field">
                <div data-action="" id="btn-addBorrower" class="ui submit button default teal">保存</div>
            </div>
        </form>
    </div>
</div>

<div id="modal-editBorrower" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        修改借款人
    </div>
    <div class="content">
        <form id="form-editBorrower" class="ui form padding80">
            <input name="id" type="hidden">
            <div class="field required">
                <label>借款人姓名</label>
                <input name="name" type="text">
            </div>
            <div class="field required">
                <label>证件类型</label>
                <div class="three fields">
                    <div class="field five wide">
                        <select class="ui fluid search dropdown disabled" name="certifType">
                            <option value="ID">身份证</option>
                            <option value="BUSINESS_LICENSE">营业执照编号</option>
                            <option value="PASS_ID">港澳台证件号</option>
                        </select>
                    </div>
                    <div class="field eleven wide">
                        <input type="text" name="certifNumber" readonly>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>手机号码</label>
                <input type="text" name="phone">
            </div>
            <div class="field sixteen wide">
                <label>家庭地址</label>
                <input type="text" name="address">
            </div>
            <div class="field">
                <div id="btn-eidtBorrower" class="ui submit button default teal">保存</div>
            </div>
        </form>
    </div>
</div>


<script type="text/mustach-template" id="borrowerTemplate">
    <div id="borrower-{{id}}" class="card item" data-id="{{id}}">
        <div class="content">
            <a data-borrowerid="{{id}}" class="btn-borrowerRemove">
                <i class="right floated remove icon red font-20"></i>
            </a>
            <a data-borrowerid="{{id}}" data-certif_type="{{certifType}}" class="btn-borrowerEdit">
                <i class="right floated edit icon font-20"></i>
            </a>
            <div class="header">
                <span class="borrower-name">{{name}}</span>
            </div>
            <div class="meta">
                <i class="volume control phone icon"></i>
                手机号码:
                <span class="borrower-phone">{{phone}}</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="credit card alternative icon"></i>
                <span class="borrower-certifType">{{certifTypeInCN}}</span>:
                <span class="borrower-certifNumber">{{certifNumber}}</span>
            </div>
            <div class="description">
                <i class="location arrow icon"></i>
                家庭地址:
                <span class="borrower-address">{{address}}</span>
            </div>
        </div>
    </div>
</script>