{{>partial}}
<table class="ui definition small table">
    <tbody>
    <tr>
        <td colspan="2"><span style="font-size: 18px;">组织信息</span></td>
    </tr>
    <tr>
        <td>所属组织</td>
        <td>{{organize.name}}</td>
    </tr>
    <tr>
        <td class="four wide">所属机构</td>
        <td class="twelve wide">{{organize.agency.name}}</td>
    </tr>
    <tr>
        <td>所属条线</td>
        <td>{{businessLine}}</td>
    </tr>
    <tr>
        <td>职级</td>
        <td>{{positionName}}</td>
    </tr>
    <tr>
        <td>入司日期</td>
        <td>{{e_date}}</td>
    </tr>
    <tr>
        <td>离职日期</td>
        <td>{{q_date}}</td>
    </tr>
    <tr>
        <td>工作状态</td>
        <td>{{workStateName}}</td>
    </tr>
    <tr>
        <td colspan="2"><span style="font-size: 18px;">基本信息</span></td>
    </tr>
    <tr>
        <td>业务员代码</td>
        <td>{{code}}</td>
    </tr>
    <tr>
        <td>姓名</td>
        <td>{{name}}</td>
    </tr>
    <tr>
        <td>证件类型</td>
        <td>{{credentialsTypeName}}</td>
    </tr>
    <tr>
        <td>证件号码</td>
        <td>{{idNumber}}</td>
    </tr>
    <tr>
        <td>性别</td>
        <td>{{sexName}}</td>
    </tr>
    <tr>
        <td>出生日期</td>
        <td>{{b_date}}</td>
    </tr>
    <tr>
        <td>移动电话</td>
        <td>{{mobile}}</td>
    </tr>
    <tr>
        <td>电子邮件</td>
        <td>{{email}}</td>
    </tr>
    <tr>
        <td>联系地址</td>
        <td>{{address}}</td>
    </tr>
    <tr>
        <td>状态</td>
        <td>{{statsInCn}}</td>
    </tr>
    <!--<tr>-->
        <!--<td colspan="2"><span style="font-size: 18px;">账户信息</span></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>用户名</td>-->
        <!--<td>{{loginName}}</td>-->
    <!--</tr>-->
    </tbody>
</table>