<%var jsPart = {%>
<script src="/js/pages/flowSettings/detail.js"></script>
<%};%>

<%var htmlPart = {%>
<div class="ui attached message">
    <div class="header">新增流程</div>
</div>
<form class="ui form attached fluid segment" id="addForm">
    <div class="two fields">
        <div class="field">
            <label>流程类型：</label>
            <select name="flowType" id="js_flowType" class="dropdown" id="flowType">
            </select>
        </div>
        <div class="field">
            <label>流程名称：</label>
            <input type="text" name="flowName" id="flowName">
        </div>
    </div>

    <div class="fields">
        <div class="field">
            <label>流程说明：</label>
            <textarea name="flowDesc" placeholder="请输入流程描述" rows="3" cols="200" id="flowDesc"></textarea>
        </div>
    </div>

    <div class="fields ">
        <div class="sixteen wide field">
            <label>关联产品（选择流程类型关联）：</label>
            <select name="productId" id="productList" multiple="" class="ui fluid normal dropdown ks-hidden">

            </select>
        </div>
    </div>


    <div class="ui teal small button" id="add_flowModal"><i class="plus icon"></i>添加业务模块</div>
    <div class="ui divider hidden"></div>

    <div id="flow_box">
        <div class="ui grey segment js_demo_box js_modalList">
            <div class="ui teal mini button right floated js_afterAddMoadal"><i class="plus icon"></i>追加模块</div>
            <div class="ui red mini button right floated js_remove">删除模块</div>
            <div class="two fields">
                <div class="field">
                    <label>业务模块：</label>
                    <select name="businessModal" class="js_modal dropdown">
                    </select>
                </div>
                <div class="field">
                    <label>&emsp;</label>
                    <div class="ui teal mini button add_flowNode"><i class="plus icon"></i>新增节点</div>
                </div>
            </div>

            <table class="ui very basic table">
                <thead>
                <th>节点编号</th>
                <th>节点名称</th>
                <th>角色</th>
                <th>限额（元）</th>
                <th>是否用印</th>
                <th>操作</th>
                </thead>
                <tbody class="tbody">
                <tr class="js_node">
                    <td class="node_num">1</td>
                    <td class="field">
                        <input type="text" name="pointName" class="item">
                    </td>
                    <td class="field">
                        <div class="ui search js-postSearch">
                            <div class="ui icon input">
                                <input type="hidden" name="postId" class="item">
                                <input class="prompt js-input" name="pointRole" type="text" placeholder="输入角色名称查询">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </td>
                    <td class="field">
                        <input type="text" name="approveAmount" class="item" placeholder="最低审批金额">
                    </td>
                    <td class="field">
                        <select name="enterprise" class="item">
                            <option value="false">否</option>
                            <option value="true">是</option>
                        </select>
                    </td>
                    <td>
                        <div class="ui button red mini js_node_remove disabled">删除</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui error message" id="errorMessage"></div>

    <div class="ui divider hidden"></div>
    <div class="actions" align="center">
        <div class="ui teal button" id="addForm_btn">保存</div>
        <a class="ui black button" href="/flow_configure_control/index">返回</a>
    </div>

</form>


<div class="js_demo ks-hidden ui grey segment js_demo_box">
    <div class="ui teal mini button right floated js_afterAddMoadal"><i class="plus icon"></i>追加模块</div>
    <div class="ui red mini button right floated js_remove">删除模块</div>
    <div class="two fields">
        <div class="field">
            <label>业务模块：</label>
            <select name="businessModal" class="js_modal dropdown">
            </select>
        </div>
        <div class="field">
            <label>&emsp;</label>
            <div class="ui teal mini button add_flowNode"><i class="plus icon"></i>新增节点</div>
        </div>
    </div>

    <table class="ui very basic table">
        <thead>
        <tr>
            <th>节点编号</th>
            <th>节点名称</th>
            <th>角色</th>
            <th>限额（元）</th>
            <th>是否用印</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr class="js_node">
            <td class="node_num">1</td>
            <td class="field">
                <labe> </labe>
                <input type="text" name="pointName" class="item">
            </td>
            <td class="field">
                <div class="ui search js-postSearch">
                    <div class="ui icon input">
                        <input type="hidden" name="postId" class="item">
                        <input class="prompt js-input" name="pointRole" type="text" placeholder="输入角色名称查询">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </td>
            <td class="field">
                <input type="text" name="approveAmount" class="item" placeholder="最低审批金额">
            </td>
            <td class="field">
                <select name="enterprise">
                    <option value="false">否</option>
                    <option value="true">是</option>
                </select>
            </td>
            <td>
                <div class="ui button red mini js_node_remove disabled">删除</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<table class="ks-hidden">
    <tr class="js_node js_node_demo ks-hidden">
        <td class="node_num">1</td>
        <td class="field">
            <input type="text" name="pointName" class="item">
        </td>
        <td class="field">
            <div class="ui search js-postSearch">
                <div class="ui icon input">
                    <input type="hidden" name="postId" class="item">
                    <input class="prompt js-input" name="pointRole" type="text" placeholder="输入角色名称查询">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </td>
        <td class="field">
            <input type="text" name="approveAmount" class="item" placeholder="最低审批金额">
        </td>
        <td class="field">
            <select name="enterprise" class="item">
                <option value="false">否</option>
                <option value="true">是</option>
            </select>
        </td>
        <td>
            <div class="ui button red mini js_node_remove">删除</div>
        </td>
    </tr>
</table>


<%}; include("/common/menu.html",{jsSection:jsPart,htmlSection:htmlPart,title:"新增流程配置"}){}%>