<script type="text/mustach-template" id="BAOLI_template">
    <div class="four fields">
        <div class="field inline">
            <label>项目类别:</label>
            <span class="ui header red small">保理项目</span>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>项目简介</label>
            <textarea class="item"  name="projectdesc" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>保理信息</label>
            <textarea class="item" name="factorinfo" cols="30" rows="5">原债权人已与保理公司签署《应收账款转让登记协议》，将上述应收账款转让给保理商并在央行应收账款质押公示登记系统登记。由保理商为原债权人提供国内保理融资服务、账款管理及账款催收服务。</textarea>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>资金流向</label>
            <textarea class="item"  name="fund" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>风控措施</label>
            <textarea class="item"  name="riskrule" cols="30" rows="5">第一还款来源：原债务人为实力雄厚的大型上市公司旗下子公司，基于基础交易合同负 有还款责任。
第二还款来源：保理公司风控能力强，基于应收账款转让及回购协议负有回购责任。
第三还款来源：此保理业务为有追索权类型，若原债务方未能及时回款，原债权人负有还款责任。</textarea>
        </div>
    </div>
</script>