<script type="text/mustach-template" id="HONGBEN_template">
    <div class="four fields">
        <div class="field inline">
            <label>项目类别:</label>
            <span class="ui header red small">红本项目</span>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>基本信息</label>
            <textarea class="item"  name="basic" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>房产信息</label>
            <textarea class="item"  name="houseinfo" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>借款用途</label>
            <textarea class="item"  name="loanuse" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>信用信息</label>
            <textarea class="item"  name="archives" cols="30" rows="5">个人征信情况良好，查档正常，已作公证</textarea>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>项目说明</label>
            <textarea class="item"  name="projectdesc" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="one fields">
        <div class="field">
            <label>审核项目</label>
            <div class="ui checkbox">
                <input type="checkbox" data-key="1" name="audittype">
                <label>个人身份认证</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" data-key="2" name="audittype">
                <label>个人信用报告</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" data-key="3" name="audittype">
                <label>房产证认证</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" data-key="4" name="audittype">
                <label>抵押状态核实</label>
            </div>
        </div>
    </div>
    <div class="three fields">
        <div class="field">
            <label>风控措施</label>
            <textarea class="item"  name="riskrule" cols="30" rows="5">一、借款人家庭收入为第一还款来源；
二、抵押物足值抵押，如未还款，可处置抵押物作为还款来源；
三、合作方承诺到期回购此债权。</textarea>
        </div>
    </div>
</script>