<script type="text/mustach-template" id="YINPIAO_template">
    <div class="four fields">
        <div class="field inline">
            <label>项目类别:</label>
            <span class="ui header red small">银票项目</span>
        </div>
    </div>
    <div class="four fields">
        <div class="field">
            <label>项目信息</label>
            <textarea class="item"  name="basic" cols="30" rows="5"></textarea>
        </div>
    </div>

    <div class="four fields">
        <div class="field">
            <label>资金流向</label>
            <textarea class="item"  name="fund" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="one fields">
        <div class="field">
            <label>审核项目</label>
            <div class="ui checkbox">
                <input type="checkbox" data-key="1" name="audittype">
                <label>风控人工验票</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" data-key="2" name="audittype">
                <label>专用设备验票</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" data-key="3" name="audittype">
                <label>托管银行验票</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" data-key="4" name="audittype">
                <label>持票企业身份认证</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" data-key="5" name="audittype">
                <label>承兑企业资质认证</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" data-key="6" name="audittype">
                <label>票据真实贸易背景审核</label>
            </div>
            <div class="ui checkbox">
                <input type="checkbox" data-key="7" name="audittype">
                <label>开票企业实地核验</label>
            </div>
        </div>
    </div>
    <div class="four fields">
        <div class="field">
            <label>兑付信息</label>
            <textarea class="item"  name="honourinfo" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="four fields">
        <div class="field">
            <label>风控措施</label>
            <textarea class="item"  name="riskrule" cols="30" rows="5">风控措施一：该项目适用于金盾计划。</textarea>
        </div>
    </div>
</script>