<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/error.css">
    <title>502</title>
</head>
<body>
<div class="unavailable wrapper" role="main">
    <div class="status-code-502 status-code">502</div>
    <div class="description-502 description">
        <h4 class="heading">飞船内部系统故障！</h4>
        <em class="title">请联系管理员</em>
        <div class="links">
            <a href="/index">首页</a>
        </div>
    </div>
</div>
</body>
</html>