<%var jsPart = {%>

<!--role list tbody-->
<script type="text/mustach-template" id="roleListTemplate">
    {{#data}}
    <tr>
        <td>{{name}}</td>
        <td>{{#menus}}
            <div class="ui label">{{menuName}}</div>
            {{/menus}}
        </td>
        <td>
            <!--<button class='ui mini button' onclick="delete_role_menu({{id}},{{menuId}});">删除</button>-->
            <button class="ui mini teal button" onclick='updateRole("{{id}}","{{name}}")'>编辑角色</button>
            <button class="ui mini teal button" onclick='updateRoleUser("{{id}}","{{name}}")'>编辑人员</button>
        </td>
    </tr>
    {{/data}}
    {{^data}}
    <tr>
        <td colspan="5">暂无数据</td>
    </tr>
    {{/data}}
</script>

<!--person roles-->
<!--<script type="text/mustach-template" id="personRolesTemplate">
    <select class="ui dropdown js-dropdown__role" id="rolesSelect">
        <option value="">全部</option>
        {{#data}}
        <option value="{{id}}">{{name}}</option>
        {{/data}}
    </select>
</script>-->

<script type="text/dt-template" id="addRoleTemplate">
    <div class="ui teal button js-addRoleBtn">
        <i class="add icon"></i>新增角色
    </div>
</script>

<!--menus for add-->
<!--<script type="text/mustach-template" id="menusTemplate">
    <select multiple="" class="ui fluid search dropdown js-dropdown__menu_add" id="menusSelect">
        {{#data}}
        <option value="{{id}}">
            {{#parent}}
                {{parent.name}}&#45;&#45;
            {{/parent}}
            {{^parent}}
            {{/parent}}
        {{name}}</option>
        {{/data}}
    </select>
</script>-->

<!--menus for add-->
<script type="text/mustach-template" id="menusTemplate">
    <select multiple style='font-size:13.5px;width:240px;height:300px' ondblclick="moveOption(document.getElementById('menusSelect'), document.getElementById('menusSelected'))" id="menusSelect">
        {{#data}}
        <option value="{{id}}" title="{{name}}">{{name}}</option>
        {{/data}}
    </select>
</script>

<!--menus for edit-->
<script type="text/mustach-template" id="menusTemplateEdit">
    <select multiple style='font-size:13.5px;width:240px;height:300px' ondblclick="moveOption(document.getElementById('menusUpdateSelect'), document.getElementById('menusUpdateSelected'))" id="menusUpdateSelect">
        {{#data}}
        <option value="{{id}}" title="{{name}}">{{name}}</option>
        {{/data}}
    </select>
</script>

<!--menus for edit-->
<!--<script type="text/mustach-template" id="menusTemplateEdit">
    <select multiple="" class="ui fluid search dropdown js-dropdown__menu_edit" id="menusSelectEdit">
        {{#data}}
        <option value="{{id}}">
            {{#parent}}
                {{parent.name}}&#45;&#45;
            {{/parent}}
            {{^parent}}
            {{/parent}}
        {{name}}</option>
        {{/data}}
    </select>
</script>-->

<!--user for edit-->
<script type="text/mustach-template" id="userTemplateEdit">
    <select multiple="" class="ui fluid search dropdown js-dropdown__user_edit" id="userSelectEdit">
        {{#data}}
        <option value="{{id}}">{{name}}</option>
        {{/data}}
    </select>
</script>

<script type="text/javascript">
    (function () {
        /**
         * 数据存储
         */
        var STORAGE = {
            chosedTreeItemData: {}
        };

        //查询角色菜单权限
        $('#search').click(function () {
            //queryRoleMenuList();
            search();
        })
        //定义daTable
        dtTable = $("#roleList").DataTable({
            serverSide: true,//服务端分页
            searching: false,//显示默认搜索框
            ordering: false,//开启排序
            autoWidth: true,//自适应宽度
            "ajax": {
                "url": $(document).api.settings.api['get roleDataTable'],
                "data": function (d) {
                    var data = {};
                    data.name = $("#keyword").val();
                    var _d = $.extend({},{searchKeys:data},{start:d.start,length:d.length,draw:d.draw});
                    return JSON.stringify(_d);
                },
                "type": "POST",
            },
            columns: [
                {data: 'name'},
                {
                    data: function (row, type, set) {
                        var rtn = '';
                        var pmnaPrevious="";
                        for (var i = 0; i < row.menus.length; i++) {
                            var a='<div class="ui  label">';
                            if(i>0)
                            {
                                if(row.menus[i].parentMenuName==null){
                                    //a='<br><div class="ui label"><br>';  //非第一行的一级标题做特殊处理
                                    rtn = rtn +'<div class="label__firstMenu"><div class="ui   label">'+ row.menus[i].menuName + '</div></div>';
                                }
                                else{
                                    rtn = rtn +a + row.menus[i].menuName + '</div>';
                                }

                            }
                            else{
                                 rtn = rtn +'<div class="label__firstMenu"><div class="ui label">'+ row.menus[i].menuName + '</div></div>';

                            }

                        }
                        return rtn;
                    }
                }
            ],
            columnDefs: [{
                //   指定第最后一列
                targets: 2,
                render: function (data, type, row, meta) {
                    if (row.name == "admin")
                        return '<button class="ui mini basic button" onclick="updateRoleUser(\'' + row.id + '\',\'' + row.name + '\')">维护用户</button>';
                    else
                        return '<button class="ui mini basic button" onclick="updateRole(\'' + row.id + '\',\'' + row.name + '\')"><i class="edit icon"></i>编辑</button><button class="ui mini basic red button" onclick="delete_role(\'' + row.id + '\',\'' + row.name + '\');">删除</button><button class="ui mini basic button" onclick="updateRoleUser(\'' + row.id + '\',\'' + row.name + '\')">维护用户</button>';
                }
            }],
            "iDisplayLength": 10,
            initComplete: function () {
                $(".right.aligned.eight.wide.column").append($("#addRoleTemplate").html());
                $(document).on("click", ".js-addRoleBtn", function () {
                    var $modal = $("#addRoleModal")
                    $modal.modal({
                        blurring: true,
                        onShow: function () {
                            $("#addRoleName").val('');
                            $("#addMsgDiv").hide();
                            menuSelectInit();
                        },
                        onApprove: function () {
                            save_role('add');
                            return false;
                        },
                        onDeny: function () {
                        }
                    }).modal('show');
                })
            }
        })
        //新增角色
        $("body").on("click", ".js-addRole", function () {
            var $modal = $("#addRoleModal")
            $modal.modal({
                blurring: true,
                onShow: function () {
                    $("#addRoleName").val('');
                    $("#addMsgDiv").hide();
                    menuSelectInit();
                },
                onApprove: function () {
                    save_role('add');
                    return false;
                },
                onDeny: function () {
//                        window.alert('Wait not yet!');
                }
            }).modal('show');
        })

        /**
         * 获取所有用户角色
         */
//        function roleSelectInit() {
//            $(document).api({
//                                on: "now",
//                                method: 'post',
//                                action: "get roleList",
//                                onSuccess: function (data) {
//                                    console.log(data);
//                                    var $personRolesTemplate = utils.render("#personRolesTemplate", data);
//                                    $("#personRoles").html($personRolesTemplate);
//                                    //初始化人员角色选择框
//                                    $('.js-dropdown__role').dropdown({});
//                                }
//                            });
//        }
        /**
         * 获取全部菜单信息
         */
        function menuSelectInit() {
            $("#menusSelected").html("");
            $(document).api({
                on: "now",
                method: 'post',
                action: "get menuList",
                onSuccess: function (data) {
                    console.log(data);
                    var $menusTemplate = utils.render("#menusTemplate", data);
                    $("#roleMenusAdd").html($menusTemplate);
//                    $('.js-dropdown__menu_add').dropdown({
//                                                             forceSelection:false
//                                                         });
                }
            });
        }

        //初始化
        (function initApp() {
            //queryRoleMenuList();
            //initRoleList();
        })();
    })();

    //修改角色
    function updateRole(id, name) {
        var $modal = $("#editRoleModal");
        $modal.modal({
            blurring: true,
            onShow: function () {
                $("#editRoleId").val(id);
                $("#editRoleName").val(name);
                $("#updateMsgDiv").hide();
                menuSelectForEdit(id);
            },
            onApprove: function () {
                save_role('update');
                return false;
            },
            onDeny: function () {
//                        window.alert('Wait not yet!');
            }
        }).modal('show');
    }

    //编辑人员
    function updateRoleUser(id, name) {
        var $modal = $("#editUserModal");
        $modal.modal({
            blurring: true,
            onShow: function () {
                $("#editUserRoleId").val(id);
                $("#editUserRoleName").val(name);
                userSelectForEdit(id);
            },
            onApprove: function () {
                save_role_user();
                return false;
            },
            onDeny: function () {
//                        window.alert('Wait not yet!');
            }
        }).modal('show');
    }

    function menuSelectForEdit(roleId) {
        $("#menusUpdateSelected").html("");
        $(document).api({
            on: "now",
            method: 'post',
            action: "get menuList",
            onSuccess: function (data) {
                console.log(data);
                var $menusTemplateEdit = utils.render("#menusTemplateEdit", data);
                $("#roleMenusUpdate").html($menusTemplateEdit);
                //初始化人员角色下拉框start
                $(document).api({
                    on: "now",
                    method: 'post',
                    action: "get roleMenuList",
                    data: {"id": roleId},
                    onSuccess: function (data) {
                        for (var i = 0; i < data.data.length; i++) {
                            var menuId = data.data[i].menuId;
                            //$('.js-dropdown__menu_edit').dropdown('set selected', menuId);
                            var obj2=document.getElementById('menusUpdateSelected');
                            var obj1=document.getElementById('menusUpdateSelect');
                            var opt = new Option(data.data[i].menuName,data.data[i].menuId);
                            opt.title = data.data[i].menuName;
                            obj2.options.add(opt);
                            for(var j = 0; j < obj1.length; j++){
                                if(menuId==obj1.options[j].value)
                                    obj1.remove(j);
                            }
                        }
                    }
                });

                //end
                //$('.js-dropdown__menu_edit').dropdown({forceSelection:false});
            }
        });
    }


    function userSelectForEdit(roleId) {
        $(document).api({
            on: "now",
            method: 'post',
            action: "get userListAll",
            onSuccess: function (data) {
                console.log(data);
                var $userTemplateEdit = utils.render("#userTemplateEdit", data);
                $("#userRoleUpdate").html($userTemplateEdit);
                //初始化人员角色下拉框start
                $(document).api({
                    on: "now",
                    method: 'post',
                    action: "get roleUserList",
                    data: {"id": roleId},
                    onSuccess: function (data) {
                        for (var i = 0; i < data.data.length; i++) {
                            var userId = data.data[i].id;
                            $('.js-dropdown__user_edit').dropdown('set selected', userId);
                        }
                    }
                });

                //end
                $('.js-dropdown__user_edit').dropdown({
                                                          forceSelection:false
                                                      });
            }
        });
    }

    function save_role(type) {
        var roleId = "";
        var roleName = "";
        var menus = new Array();
        var permissions = "";
        var menuIds = "";
        var path = "";
        if (type == 'add') {
            path = "add role";
            //menus = $('.js-dropdown__menu_add').dropdown('get value');
            menus = $('#menusSelected').find("option");
            roleName = $.trim($("#addRoleName").val());
            if (roleName == null || roleName == "") {
                //alert("角色名称不能为空！");
                $("#addMsg").html("角色名称不能为空");
                $("#addMsgDiv").show();
                return false;
            }
            else if(getByteLen(roleName)>50){
                $("#addMsg").html("角色名称长度不能超过50个字符");
                $("#addMsgDiv").show();
                return false;
            }
            else if(!illegalChar(roleName)){
                $("#addMsg").html("角色名称只能包括中文、数字、字母、_");
                $("#addMsgDiv").show();
                return false;
            }
        }
        else {
            path = "update role";
            //menus = $('.js-dropdown__menu_edit').dropdown('get value');
            menus = $('#menusUpdateSelected').find("option");
            roleId = $("#editRoleId").val();
            roleName = $.trim($("#editRoleName").val());
            if (roleName == null || roleName == "") {
                $("#updateMsg").html("角色名称不能为空");
                $("#updateMsgDiv").show();
                return false;
            }
            else if(getByteLen(roleName)>50){
                $("#updateMsg").html("角色名称长度不能超过50个字符");
                $("#updateMsgDiv").show();
                return false;
            }
            else if(!illegalChar(roleName)){
                $("#updateMsg").html("角色名称只能包括中文、数字、字母、_");
                $("#updateMsgDiv").show();
                return false;
            }
        }

        for (var i = 0; i < menus.length; i++) {
            menuIds = menuIds + menus[i].value + ",";
            permissions = permissions + "1111,";
        }
        if (menuIds != "")
            menuIds = menuIds.substring(0, menuIds.length - 1);
        else {
            if (type == 'add') {
                $("#addMsg").html("请至少选择一项菜单权限");
                $("#addMsgDiv").show();
                return false;
            }
            else {
                $("#updateMsg").html("请至少选择一项菜单权限");
                $("#updateMsgDiv").show();
                return false;
            }
        }
        if (permissions != "")
            permissions = permissions.substring(0, permissions.length - 1);
        else {
            alert("请至少选择一项菜单子功能权限！");
            return false;
        }

        $(document).api({
            on: "now",
            method: 'post',
            action: path,
            data: {"role.id": roleId, "role.name": roleName, "menuIds": menuIds, "permissions": permissions},
            onSuccess: function (data) {
                if (type == 'add')
                    $("#addRoleModal").modal("hide");
                else
                    $("#editRoleModal").modal("hide");

                $.uiAlert({
                    type: "success",
                    textHead: '操作成功',
                    text: '操作成功',
                    time: 1,
                    onClosed: function () {
                        if (type == 'add') {
                            //roleSelectFill('data.roleName');
                            location.reload(true);
                        }
                        else {
                            roleSelectFill(roleName);
                        }
                    }
                });
            },
            onFailure: function (data) {
                $.uiAlert({
                    type: "danger",
                    textHead: '操作失败',
                    text: data.msg,
                    time: 2
                });
            }
        });
    }

    function save_role_user() {
        var roleId = $("#editUserRoleId").val();
        var roleName = $.trim($("#editUserRoleName").val());
        var users = new Array();
        users = $('.js-dropdown__user_edit').dropdown('get value');
        var userIds = "";
        for (var i = 0; i < users.length; i++) {
            userIds = userIds + users[i] + ",";
        }
        if (userIds != "")
            userIds = userIds.substring(0, userIds.length - 1);
//        else {
//            alert("请至少选择一个用户！");
//            return false;
//        }

        $(document).api({
            on: "now",
            method: 'post',
            action: "update roleUser",
            data: {"role.id": roleId, "role.name": roleName, "userIds": userIds},
            onSuccess: function (data) {
                $("#editUserModal").modal("hide");

                $.uiAlert({
                    type: "success",
                    textHead: '操作成功',
                    text: '操作成功',
                    time: 1,
                    onClosed: function () {
                        roleSelectFill(roleName);
                    }
                });
            },
            onFailure: function (data) {
                $.uiAlert({
                    type: "danger",
                    textHead: '操作失败',
                    text: data.msg,
                    time: 2
                });
            }
        });
    }

    function delete_role_menu(id, menuId) {
        $.uiDialog("该菜单权限将被删除，你确定要删除吗？", {
            onApprove: function () {
                var $modal = $(this);
                $(document).api({
                    on: "now",
                    method: 'post',
                    action: "delete roleMenu",
                    data: {
                        "id": id, "menuId": menuId
                    },
                    onSuccess: function (response) {
                        $modal.modal({
                            onHidden: function () {
                                    $.uiAlert({
                                        type: "success",
                                        textHead: '删除成功',
                                        text: '成功删除菜单权限',
                                        time: 1,
                                        onClosed: function () {
                                            //queryRoleMenuList();
                                            search();
                                        }
                                    });
                            }
                        }).modal("hide");
                    },
                                    onFailure: function (data) {
                                        $.uiAlert({
                                                      type: "danger",
                                                      textHead: '删除失败',
                                                      text: data.msg,
                                                      time: 2
                                                  });
                                    }
                });

                return false;
            },
            onDeny: function () {
            }
        })
    }
    function delete_role(roleId,roleName) {
        $.uiDialog("角色\"" + roleName + "\"及其所有菜单权限将被删除，你确定要删除吗？", {
            onApprove: function () {
                var $modal = $(this);
                $(document).api({
                    on: "now",
                    method: 'post',
                    action: "delete role",
                    data: {
                        "id": roleId
                    },
                    onSuccess: function (response) {
                        $modal.modal({
                            onHidden: function () {
                                    $.uiAlert({
                                        type: "success",
                                        textHead: '删除成功',
                                        text: '成功删除角色及其所有的菜单权限',
                                        time: 1,
                                        onClosed: function () {
//                                            location.reload(true);
                                            search();
                                        }
                                    });
                            }
                        }).modal("hide");
                    },
                   onFailure: function (data) {
                       $.uiAlert({
                                     type: "danger",
                                     textHead: '删除失败',
                                     text: data.msg,
                                     time: 2
                                 });
                   }
                });

                return false;
            },
            onDeny: function () {
            }
        })
    }

    function queryRoleMenuList() {
        var name = $("#keyword").val();
        $(document).api({
            on: "now",
            method: 'post',
            action: "get roleListByName",
            data: {"name": name},
            onSuccess: function (data) {
                var $roleListTemplate = utils.render("#roleListTemplate", data);
                $("#roleList tbody").html($roleListTemplate);
            }
        });
    }

    function roleSelectFill(roleName) {
        //$("#keyword").val(roleName);  暂时不根据条件查询
        //queryRoleMenuList();
        search();
    }

    //搜索
    function search() {
        dtTable.ajax.reload();
    }

    function moveOption(obj1, obj2){
        var arrlist=[];
        for(var i = 0 ; i <= obj1.options.length - 1 ; i++){
            arrlist.push(obj1.options[i].text);
        }
        for(var i = 0 ; i <= obj1.options.length - 1 ; i++)
        {
            if(obj1.options[i].selected)
            {
                if(String(obj1.options[i].text).indexOf("--")>-1){
                    var subtext=String(obj1.options[i].text).split("--")[0];
                    var idx;
                    if(arrlist.indexOf(subtext)>-1){
                        //从已选移除时，若还存在兄弟菜单，则不需要移动父级
                        if($(obj1).attr("id").indexOf("Selected")>-1 && arrlist.join(",").split(subtext+"--").length>2){
                            var optx = new Option(obj1.options[i].text,obj1.options[i].value);
                            optx.title = obj1.options[i].text;
                            obj2.options.add(optx);
                            obj1.remove(i);
                        }
                        else{
                            idx=arrlist.indexOf(subtext);
                            //父级
                            var opt1 = new Option(obj1.options[idx].text,obj1.options[idx].value);
                            opt1.title = obj1.options[idx].text;
                            obj2.options.add(opt1);
                            //子级
                            var opt2 = new Option(obj1.options[i].text,obj1.options[i].value);
                            obj2.options.add(opt2);
                            obj1.remove(idx);
                            if(i>0 && idx<i){
                                obj1.remove(i-1);
                            }else{
                                obj1.remove(i);
                            }
                        }
                    }else{
                        var opt3 = new Option(obj1.options[i].text,obj1.options[i].value);
                        opt3.title = obj1.options[i].text;
                        obj2.options.add(opt3);
                        obj1.remove(i);
                    }
                }else{
                    //从已选移除时，若还存在子菜单，则不允许移动父级
                     if($(obj1).attr("id").indexOf("Selected")>-1 && arrlist.join(",").split(obj1.options[i].text+"--").length>1){
                         $.uiAlert({
                                       type: "danger",
                                       textHead: '操作失败',
                                       text: "已选菜单里存在“"+obj1.options[i].text+"”的子菜单，无法将其移除",
                                       time: 2
                                   });
                         return;
                    }
                    var opt = new Option(obj1.options[i].text,obj1.options[i].value);
                     opt.title = obj1.options[i].text;
                    obj2.options.add(opt);
                    obj1.remove(i);
                }
            }
        }
    }
    function moveOptionAll(obj1, obj2) {
        for(var i = obj1.options.length - 1; i >= 0; i--)
        {
            var opt = new Option(obj1.options[i].text, obj1.options[i].value);
            opt.title = obj1.options[i].text;
            //opt.selected = true;
            obj2.options.add(opt);
            obj1.remove(i);
        }
    }
    function getByteLen(val) {
        var len = 0;
        for (var i = 0; i < val.length; i++) {
            var a = val.charAt(i);
            if (a.match(/[^\x00-\xff]/ig) != null)
            {
                len += 2;
            }
            else
            {
                len += 1;
            }
        }
        return len;
    }
    function illegalChar(str)
    {
        var pattern=/[`~!@#\$%\^\&\*\(\)_\+<>\?:"\{\},\.\\\/;'\[\]]/im;
        if(pattern.test(str)){
            return false;
        }
        return true;
    }
</script>


<%};%>
<style>
    center {
        font-size: 12px;
        color: red;
        font-weight: bold;
    }
    .selectInput input{width:50px}

    #roleList td .label{
        margin:5px 5px 0 0;
    }
    .label__firstMenu{
        margin-top: 10px;
    }

</style>
<%var htmlPart = {%>

<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class=" ui segment teal">
                <div class="field">
                    <div class="ui action left icon input">
                        <i class="users icon"></i>
                        <input type="text" placeholder="按角色名称查询..." id="keyword">
                        <div class="ui teal submit button " id="search">&nbsp;&nbsp;查询&nbsp;&nbsp;</div>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <!--<button class="ui teal button js-addRole"><i class="plus  icon"></i>新增</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row" id="personList">
    <div class="column">
        <div class=" ui segment teal">
            <a class="ui teal left ribbon label">角色列表</a>
            <table class="ui celled small   table" id="roleList">
                <thead>
                <tr>
                    <th class="three wide">名称</th>
                    <th class="night wide">菜单权限</th>
                    <th class="four wide">操作</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<!--新增角色弹出modal-->
<div class="ui small modal" id="addRoleModal">
    <i class="close icon"></i>
    <div class="header">
        新增角色信息
    </div>
    <div class=" content  ">
        <div class="ui centered grid">
            <div class="  row">
                <div class="twelve wide column">

                    <div class="ui form">
                        <div class="required field">
                            <label>角色名称</label>
                            <input type="text" id="addRoleName" placeholder="角色名称">
                        </div>
                        <div class="required field">
                        <label>菜单权限</label>
                        <!--<div class="field" id="roleMenusAdd">
                        </div>-->
                            <table border="0" width="400">
                                <tr>
                                    <td>
                                        <div class="ui teal label">可选菜单</div>
                                    </td>
                                    <td> </td>
                                    <td>
                                        <div class="ui teal label">已选菜单</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%" valign="top" id="roleMenusAdd">

                                    </td>
                                    <td width="20%" align="center" class="selectInput">
                                        <input type="button" value=" > " onclick="moveOption(document.getElementById('menusSelect'),document.getElementById('menusSelected'))"><br>
                                        <input type="button" value=" >> " onclick="moveOptionAll(document.getElementById('menusSelect'),document.getElementById('menusSelected'))"><br> <br>
                                        <input type="button" value=" < " onclick="moveOption(document.getElementById('menusSelected'), document.getElementById('menusSelect'))"><br>
                                        <input type="button" value=" << " onclick="moveOptionAll(document.getElementById('menusSelected'), document.getElementById('menusSelect'))">
                                    </td>
                                    <td width="40%" valign="top">
                                        <select multiple name="right" id="menusSelected" style='font-size:13.5px;width:240px;height:300px' ondblclick="moveOption(document.getElementById('menusSelected'), document.getElementById('menusSelect'))">
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="ui floating red message" id="addMsgDiv" style="display: none">
                            <p id="addMsg"></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="ui black deny button">
            取消
        </div>
        <div class="ui teal ok button">
            确定
        </div>
    </div>
</div>

<!--修改角色弹出modal-->
<div class="ui small modal" id="editRoleModal" style="top:20%">
    <i class="close icon"></i>
    <div class="header">
        编辑角色信息
    </div>
    <div class=" content  ">
        <div class="ui centered grid">
            <div class="  row">
                <div class="twelve wide column">

                    <div class="ui form">
                        <div class="required field">
                            <label>角色名称</label>
                            <input type="hidden" id="editRoleId">
                            <input type="text" id="editRoleName" placeholder="角色名称">
                        </div>
                        <div class="required field">
                            <label>菜单权限</label>
                            <!--<div class="field" id="roleMenusUpdate">
                            </div>-->
                            <table border="0" width="400">
                                <tr>
                                    <td>
                                        <div class="ui teal label">可选菜单</div>
                                    </td>
                                    <td> </td>
                                    <td>
                                        <div class="ui teal label">已选菜单</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="40%" valign="top" id="roleMenusUpdate">

                                    </td>
                                    <td width="20%" align="center" class="selectInput">
                                        <input type="button" value=" > " onclick="moveOption(document.getElementById('menusUpdateSelect'),document.getElementById('menusUpdateSelected'))"><br>
                                        <input type="button" value=" >> " onclick="moveOptionAll(document.getElementById('menusUpdateSelect'),document.getElementById('menusUpdateSelected'))"><br> <br>
                                        <input type="button" value=" < " onclick="moveOption(document.getElementById('menusUpdateSelected'), document.getElementById('menusUpdateSelect'))"><br>
                                        <input type="button" value=" << " onclick="moveOptionAll(document.getElementById('menusUpdateSelected'), document.getElementById('menusUpdateSelect'))">
                                    </td>
                                    <td width="40%" valign="top">
                                        <select multiple name="right" id="menusUpdateSelected" style='font-size:13.5px;width:240px;height:300px' ondblclick="moveOption(document.getElementById('menusUpdateSelected'), document.getElementById('menusUpdateSelect'))">
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="ui floating red message" id="updateMsgDiv" style="display: none">
                            <p id="updateMsg"></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="ui black deny button">
            取消
        </div>
        <div class="ui teal ok button">
            确定
        </div>
    </div>
</div>

<!--编辑人员弹出modal-->
<div class="ui small modal" id="editUserModal" style="top:20%">
    <i class="close icon"></i>
    <div class="header">
        编辑用户信息
    </div>
    <div class=" content  ">
        <div class="ui centered grid">
            <div class="  row">
                <div class="twelve wide column">

                    <div class="ui form">
                        <div class=" field">
                            <label>角色名称</label>
                            <input type="hidden" id="editUserRoleId">
                            <input type="text" id="editUserRoleName" placeholder="角色名称" readonly>
                        </div>
                        <div class="field">
                            <label>用户清单</label>
                            <div class="field" id="userRoleUpdate">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="ui black deny button">
            取消
        </div>
        <div class="ui teal ok button">
            确定
        </div>
    </div>
</div>

</div>


<%}; include("/common/menu.html",{jsSection:jsPart,htmlSection:htmlPart,title:"系统角色维护"}){}%>