<script type="application/javascript" >

</script>

<div class="ui modal" id="addModal" style="overflow: scroll">
    <i class="close icon"></i>
    <div class="header"></div>
    <div class="content">
        <div class="ui form">
            <div class="inline fields">
                <div class="eight wide field">
                    <label>主借款人</label>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="three wide field">
                    <label>证件号码</label>
                    <input type="text" placeholder="Middle Name">
                </div>
                <div class="five wide field">
                    <input type="text" placeholder="Last Name">
                </div>
            </div>
        </div>
    </div>
</div>