<html>
<head>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/ui-alert.css">
    <script src="/js/plugins/jquery-3.1.1.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="/js/common/api.js"></script>
    <script src="/js/common/ui-alert.js"></script>
    <script type="text/javascript">

        function submit(){
            $("#msgDiv").hide();
            var login = $("#login").val();
            var imageCaptchaInput = $("#imageCaptchaInput").val();
            if(login==null ||login=="" ){
                $("#msg").html("用户名或手机号不能为空");
                $("#msgDiv").show();
                return;
            }
            if(imageCaptchaInput==null ||imageCaptchaInput=="" ){
                $("#msg").html("验证码不能为空");
                $("#msgDiv").show();
                return;
            }
            $(document).api({
                                on: "now",
                                method: 'post',
                                action: "find user password",
                                data: {
                                    "login": login,
                                    "imageCaptcha": imageCaptchaInput
                                },
                                onSuccess: function (data) {
                                    $.uiAlert({
                                                  type: "success",
                                                  textHead: '提交成功',
                                                  text: data.message,
                                                  time: 2
                                              });
                                    //延迟2S再跳转
                                    setTimeout(function () {
                                        window.location.href = "/user/logout";
                                    }, 2000);
                                },
                                onFailure: function (data) {
                                    $.uiAlert({
                                                  type: "danger",
                                                  textHead: '提交失败',
                                                  text: data.message,
                                                  time: 2
                                              });
                                }
                            });
        };

        /**
         * 返回登录界面
         */
        function backLogin() {
            location.href = "/user/toLogin";//location.href实现客户端页面的跳转
        }

    </script>
    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
    <title>找回密码 - 佳兆业金融业务管理系统</title>
    <link rel="shortcut icon" href="/image/icon.ico">
</head>
<body>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <div class="content">
                业务管理系统
            </div>
        </h2>
        <div class="ui large form">
            <div class="ui stacked segment">
                <h3 class="ui header">找回密码</h3>
                <div class="field">
                    <div class="ui left icon input">
                        <input type="text" name="login" id="login" placeholder="用户名或手机号">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <input type="text" name="imageCaptcha" autocomplete="off" id="imageCaptchaInput" class="button_text" style="width: 130px;" placeholder="请输入验证码">
                        <img alt="" id="imageCaptcha" src="../captcha">
                    </div>
                </div>
                <div class="ui floating red message" id="msgDiv" style="display: none">
                    <p id="msg"></p>
                </div>
                <input  class="ui fluid large teal submit button" type="button" onclick="submit();" value="提交" />
                <br/>
                <input  class="ui fluid large gray  button" type="button" onclick="backLogin();"  value="返回登录" />
            </div>
        </div>
    </div>

</div>
</body>
</html>
