<%var jsPart = {%>

<script type="text/javascript">
    $("#subbtn").click(function () {
        $("#msgDiv").hide();
        var oldPassword = $("#oldPassword").val();
        var newPassword = $("#newPassword").val();
        var rePassword = $("#rePassword").val();
        if (oldPassword.length < 6 || newPassword.length < 6 || rePassword.length < 6) {
            $("#msg").html("所有密码长度不能小于6个字符");
            $("#msgDiv").show();
            return;
        }
        if (newPassword != rePassword) {
            $("#msg").html("两次新密码输入不一致");
            $("#msgDiv").show();
            return;
        }
        $.ajax({
                   url: "/user/resetPassword",
                   type: "POST",
                   dataType: "json",
                   data: {
                       "oldPassword": oldPassword,
                       "newPassword": newPassword
                   },
                   success: function (result) {
                       if (result.ok) {
                           $.uiAlert({
                                         type: "success",
                                         textHead: '提交成功',
                                         text: result.message,
                                         time: 2
                                     });
                           //延迟2S再跳转
                           setTimeout(function () {
                               window.location.href = "/user/logout";
                           }, 2000);
                       }
                       else{
                           $.uiAlert({
                                         type: "danger",
                                         textHead: '提交失败',
                                         text: result.message,
                                         time: 2
                                     });
                       }
                   }
               });
    });
</script>
<%};%>

<%var htmlPart = {%>
<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class=" ui segment teal">
                <h2 class="ui header">用户密码修改</h2>
                <form class="ui form">
                    <div class="field">
                        <label>原密码</label>
                        <input type="password" id="oldPassword" placeholder="请输入..">
                    </div>
                    <div class="field">
                        <label>新密码</label>
                        <input type="password" id="newPassword" placeholder="请输入..">
                    </div>
                    <div class="field">
                        <label>新密码确认</label>
                        <input type="password" id="rePassword" placeholder="请输入..">
                    </div>
                    <div class="ui floating red message" id="msgDiv" style="display: none">
                        <p id="msg"></p>
                    </div>
                    <button class="ui teal button" type="button" id="subbtn">提交</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%}; include("/common/menu.html",{jsSection:jsPart,htmlSection:htmlPart}){}%>