<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
		<!-- 定义日志文件 输出位置 -->
		<property name="log_dir" value="/data0/java/log/kams" />

		<!-- ConsoleAppender 控制台输出日志 -->
		<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
				<encoder>
						<pattern>
								<!-- 设置日志输出格式 -->
								%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger - %msg%n
						</pattern>
				</encoder>
		</appender>

		<!-- 滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件 RollingFileAppender -->
		<appender name="file"
							class="ch.qos.logback.core.rolling.RollingFileAppender">
				<!-- 最常用的滚动策略，它根据时间来制定滚动策略.既负责滚动也负责出发滚动 -->
				<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
						<!--日志输出位置 可相对、和绝对路径 -->
						<fileNamePattern>
								${log_dir}/log.%d
						</fileNamePattern>
						<maxHistory>30</maxHistory>
				</rollingPolicy>
				<encoder>
						<pattern>
								<!-- 设置日志输出格式 -->
								%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger - %msg%n
						</pattern>
				</encoder>
		</appender>

		<!-- root级别 DEBUG -->
		<root>
				<!-- 打印debug级别日志及以上级别日志 -->
				<level value="debug" />
				<!-- 控制台输出 -->
				<appender-ref ref="console" />
				<!-- 文件输出 -->
				<appender-ref ref="file" />
		</root>
</configuration>