<!--业务审批详情 模板-->
<script type="text/mustach-template" id="businessApplyTemplate">
    <div class="ui bottom teal   segment" id="loanApplyDetail">
        <a class="ui teal left ribbon label">贷款申请单</a>
        <!--<h3 class="ui dividing center aligned header">贷款申请单</h3>-->
        <!--借款人信息-->
        <h4 class="ui top attached block  small  header">借款人信息</h4>
        <div class="ui  padded attached small  segment ">
            <div class="ui grid">
                {{#loanBorrowers}}
                <div class="three column row">
                    <div class="column">
                        <b for="">
                            {{#master}}借款人{{/master}}
                            {{^master}}共同借款人{{/master}}：
                        </b>
                        <span>{{name}}</span>
                    </div>
                    <div class="column">
                        <b for="">
                            证件号码：
                        </b>
                        <span>{{certifTypeInCN}}/{{certifNumber}} </span>
                    </div>
                    <div class="column">
                        <b for="">
                            手机号码：
                        </b>
                        <span>{{phone}}</span>
                    </div>
                </div>

                <div class=" column row">
                    <div class="column">
                        <b for="">
                            家庭住址：
                        </b>
                        <span>{{address}}</span>
                    </div>
                </div>
                <div class="ui section divider"></div>
                {{/loanBorrowers}}


                <div class="row">
                    <div class="column">
                        <b for="">
                            收款账户：
                        </b>
                        <table class="ui celled  small table">
                            <thead>
                            <tr>
                                <th>融资单位（人）名称</th>
                                <th>平台账户（注册手机号）</th>
                                <th class="right aligned">收款金额（元）</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#borrowerAccounts}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{platformAccount}}</td>
                                <td class="right aligned">{{fixedAmount}}</td>
                            </tr>
                            {{/borrowerAccounts}}
                            {{^borrowerAccounts}}
                            <tr>
                                <td colspan="4">暂无数据</td>
                            </tr>
                            {{/borrowerAccounts}}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
        <!--/借款人信息-->
        <!--产品信息-->
        <h4 class="ui   attached block  small header">产品信息</h4>
        <div class="ui  padded attached  small segment">
            <div class="ui grid">
                <div class="three column row">
                    <div class="column">
                        <b for="">
                            申请金额：
                        </b>
                        <span>{{fixedLoanAmount}}元 </span>
                    </div>
                    <div class="column">
                        <b for="">
                            借款期限：
                        </b>
                        {{#isFixDate}}
                        <span>至{{loan.term}}{{loanTermType}}</span>
                        {{/isFixDate}}
                        {{^isFixDate}}
                        <span>{{loan.term}}{{loanTermType}}</span>
                        {{/isFixDate}}
                        {{#isCalculateMethod}}
                        <span class="ui header orange small">&ensp;[{{calculateMethod}}]</span>
                        {{/isCalculateMethod}}
                    </div>
                    <div class="column">
                        <b for="">
                            还款方式：
                        </b>
                        <span>{{loanRepayMethod}}</span>
                    </div>
                </div>

                <div class="three column row">
                    <div class="column">
                        <b for="">
                            借款利息：
                        </b>
                        {{#loanIsFixAmount}}
                        <span>{{loan.interestAmount}}元/{{loanMethod}}（金额计息）</span>
                        {{/loanIsFixAmount}}
                        {{#loanIsGang}}
                        <span>--</span>
                        {{/loanIsGang}}
                        {{#loanIsFixRate}}
                        <span>{{loanInterestRateFixed2}}%/{{loanMethod}}（比例计息）</span>
                        {{/loanIsFixRate}}
                    </div>
                    {{#repayMethodIsByMonth}}
                    <div class="column">
                        <b for="">
                            收息时间：
                        </b>
                        <span>{{repayDateTypeInCN}}</span>
                    </div>
                    {{/repayMethodIsByMonth}}
                    <div class="column">
                        <b for="">
                            最小利息金额（元）：
                        </b>
                        <span>{{min_InterestAmount}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <b for="">
                            费用说明：
                        </b>
                        <table class="ui celled small table">
                            <thead>
                            <tr>
                                <th>费用名称</th>
                                <th>收费频率</th>
                                <th>收取方式</th>
                                <th>收费节点</th>
                                <th class="right aligned">金额(元)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#loanFeeTemps}}
                            <tr>
                                <td>{{feeTypeInCN}}</td>
                                <td>{{feeCycleTypeInCN}}</td>
                                <td>{{feeRuleCN}}</td>
                                <td>{{chargeNodeInCN}}</td>
                                <td class="right aligned">{{feeAmountDetail}}</td>
                            </tr>
                            {{/loanFeeTemps}}
                            {{^loanFeeTemps}}
                            <tr>
                                <td colspan="5" class="center aligned">暂无数据</td>
                            </tr>
                            {{/loanFeeTemps}}

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <b for="">
                            还款计划：
                        </b>
                        <div class="ui warning mini  message">*该还款计划默认为本日放款，仅作金额参考，实际还款计划根据财务实际放款时间生成</div>
                        <table class="ui celled  small table">
                            <thead>
                            <tr>
                                <th>期数</th>
                                <th>应还日期</th>
                                <th class="right aligned">应还本金（元）</th>
                                <th class="right aligned">应还利息（元）</th>
                                <th class="right aligned">应还本息（元）</th>
                                <th class="right aligned">剩余本金（元）</th>
                            </tr>
                            </thead>
                            <tbody id="loanRepayPlan">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/产品信息-->


        <!--业务信息-->
        <h4 class="ui   attached block small  header">业务信息</h4>
        <div class="ui  padded attached  small segment">

            <!--业务信息-->
            <div id="applyInfoContainer">

            </div>

            <!-- 关联业务单 -->
            <div id="hongbenRelation" class="seniorItem">

            </div>

            <!--资料清单-->
            <div class="ui horizontal divider seniorItem">资料清单</div>
            <div class="ui grid seniorItem">
                <div class=" row">
                    <div class="column">
                        <table class="ui celled center aligned small table">
                            <thead >
                            <tr>
                                <th>资料名称</th>
                                <th>是否必填</th>
                                <th>资料文件</th>
                                <th>上传人</th>
                                <th>上传时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#productMediaAttaches}}
                            <tr>
                                <td>{{itemName}}</td>
                                <td>
                                    {{#required}}
                                    <span class="ui red label">必填</span>
                                    {{/required}}
                                    {{^required}}
                                    <span class="ui label">选填</span>
                                    {{/required}}
                                </td>
                                <td>
                                    {{#productMediaAttachDetails}}
                                    <div class="js-canBeDel right aligned">
                                        <span class="js-temp mini ui button" target="_blank" data-name="{{attachName}}" href="{{url}}">{{attachName}}</span>&emsp;
                                    </div>
                                    {{/productMediaAttachDetails}}
                                </td>
                                <td>{{#url}}{{updateBy}}{{/url}}</td>
                                <td>{{#url}}{{updateTime}}{{/url}}</td>
                            </tr>
                            {{/productMediaAttaches}}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--/资料清单-->
        </div>
        <!--/产品信息-->
    </div>


</script>

<script type="text/mustach-template" id="detailRelationTemplateCode">
    <div class="ui hidden divider"></div>
    <% include("../businessApply/relation_business_detail.html"){} %>
</script>

<script type="text/mustach-template" id="loanRepayPlanTemplate">
    {{#loanRepayPlan}}
    <tr>
        <td>{{period}}</td>
        <td>{{f_dueDate}}</td>
        <td class="right aligned">{{f_amount}}</td>
        <td class="right aligned">{{f_interest}}</td>
        <td class="right aligned">{{f_total}}</td>
        <td class="right aligned">{{f_outstanding}}</td>
    </tr>
    {{/loanRepayPlan}}
    {{^loanRepayPlan}}
    <tr>
        <td colspan="6" class="center aligned">暂无数据</td>
    </tr>
    {{/loanRepayPlan}}
</script>

<script type="text/javascript">
    function renderLoanRepay(){
        var loanId = utils.getUrlParam("id");
        $.get("/loan/calculate",{loanId:loanId},function(data){
            if(data){
                var loanRepayList={loanRepayPlan:data.repayments};
                loanRepayList.f_dueDate = function(){
                    return moment(this.dueDate).format("YYYY-MM-DD");
                }
                loanRepayList.f_amount = function () {
                    return accounting.formatNumber(this.principal,2,",");
                };
                loanRepayList.f_interest = function () {
                    return accounting.formatNumber(this.interest,2,",");
                };
                loanRepayList.f_total = function () {
                    return accounting.formatNumber(this.interest+this.principal,2,",");
                };
                loanRepayList.f_outstanding = function () {
                    return accounting.formatNumber(this.outstanding,2,",");
                };
                $("#loanRepayPlan").html(utils.render("#loanRepayPlanTemplate",loanRepayList));
            }
        })
    }
</script>

<script type="text/mustach-template" id="applyTemplate">
    <!--房产信息-->
    <div class="ui horizontal divider  ">房产信息</div>
    <div class="ui grid">
        {{#houseList}}
        <div class="three column row">
            <div class="column">
                <b for="">
                    房产证号：
                </b>
                <span>{{code}}</span>
            </div>
            <div class="column">
                <b for="">
                    权属人：
                </b>
                <span>{{ower}}</span>
            </div>
            <div class="column">
                <b for="">
                    房产面积（m²）：
                </b>
                <span>{{area}}</span>
            </div>
        </div>

        <div class="three column row">
            <div class="column">
                <b for="">
                    房产地址：
                </b>
                <span>{{address}}</span>
            </div>
            <div class="column">
                <b for="">
                    房产估值（万元）：
                </b>
                <span>{{price}}</span>
            </div>
            <div class="column">
                <b for="">
                    估值渠道：
                </b>
                <span>{{channel}}</span>
            </div>
        </div>
        {{/houseList}}
        {{^houseList}}
        {{^isOldHouse}}
        <div class="two column row">
            <div class="column">
                <b for="">
                    暂无数据
                </b>
            </div>
        </div>
        {{/isOldHouse}}
        {{#isOldHouse}}
        <div class="three column row">
            <div class="column">
                <b for="">
                    房产证号：
                </b>
                <span>{{house_code}}</span>
            </div>
            <div class="column">
                <b for="">
                    权属人：
                </b>
                <span>{{user}}</span>
            </div>
            <div class="column">
                <b for="">
                    房产面积（m²）：
                </b>
                <span>{{area}}</span>
            </div>
        </div>

        <div class="three column row">
            <div class="column">
                <b for="">
                    房产地址：
                </b>
                <span>{{address}}</span>
            </div>
            <div class="column">
                <b for="">
                    房产估值（万元）：
                </b>
                <span>{{price}}</span>
            </div>
            <div class="column">
                <b for="">
                    估值渠道：
                </b>
                <span>{{channel}}</span>
            </div>
        </div>
        {{/isOldHouse}}
        {{/houseList}}
    </div>
    <!--/房产信息-->
    <!--审批银行信息-->
    <div class="ui horizontal divider  ">审批银行信息</div>
    <div class="ui grid">
        <div class="three column row">
            <div class="column">
                <b for="">
                    审批银行：
                </b>
                <span>{{approval_bank}}</span>
            </div>
            <div class="column">
                <b for="">
                    审批时间：
                </b>
                <span>{{approval_time}}</span>
            </div>
            <div class="column">
                <b for="">
                    审批金额（万元）：
                </b>
                <span>{{approval_amount}}</span>
            </div>
        </div>

        <div class="three column row">
            <div class="column">
                <b for="">
                    审批银行联系人：
                </b>
                <span>{{approval_contact}}</span>
            </div>
            <div class="column">
                <b for="">
                    审批银行地址：
                </b>
                <span>{{approval_address}}</span>
            </div>
        </div>
    </div>
    <!--/审批银行信息-->
    <!--赎楼银行信息-->
    <div class="ui horizontal divider  ">赎楼银行信息</div>
    <div class="ui grid">
        <div class="three column row">
            <div class="column">
                <b for="">
                    赎楼银行：
                </b>
                <span>{{ransom_bank}}</span>
            </div>
            <div class="column">
                <b for="">
                    赎楼银行联系人：
                </b>
                <span>{{ransom_contact}}</span>
            </div>
            <div class="column">
                <b for="">
                    赎楼银行地址：
                </b>
                <span>{{ransom_bank_address}}</span>
            </div>
        </div>

        <div class="three column row">
            <div class="column">
                <b for="">
                    赎楼账户户名：
                </b>
                <span>{{ransom_user}}</span>
            </div>
            <div class="column">
                <b for="">
                    赎楼账户账号：
                </b>
                {{#ransomAccountHasValue}}
                <span>{{ransom_account}}</span>
                {{/ransomAccountHasValue}}
            </div>
        </div>

        <div class="row">
            <div class="column">
                <b for="">
                    约定赎楼时间：
                </b>
                <span>
                    {{^isAnyTime}}
                    {{ransom_time}}
                    {{/isAnyTime}}
                    {{#isAnyTime}}
                     随时
                    {{/isAnyTime}}
                </span>
            </div>
        </div>


    </div>
    <!--/赎楼银行信息-->
    <!--回款银行信息-->
    <div class="ui horizontal divider  ">回款银行信息</div>
    <div class="ui grid">
        {{#bakAccountList}}
        <div class="two column row">
            <div class="column">
                <b for="">
                    回款账户户名：
                </b>
                <span>{{name}}</span>
            </div>
            <div class="column">
                <b for="">
                    回款账户开户行：
                </b>
                <span>{{bank}}</span>
            </div>
        </div>
        <div class="two column row">
            <div class="column">
                <b for="">
                    回款账户账号：
                </b>
                <span>{{account}}</span>
            </div>
        </div>
        {{/bakAccountList}}
        {{^bakAccountList}}
        <div class="two column row">
            <div class="column">
                <b for="">
                    暂无数据
                </b>
            </div>
        </div>
        {{/bakAccountList}}
    </div>
    <!--/回款银行信息-->

</script>

<script>
    $(function(){
        window.renderApplyTpml=function(callBack){
            $(document).api({
                on: "now",
                method: 'get',
                action: "get businessInfo",
                data: {
                    id:utils.getUrlParam("id")
                },
                onSuccess: function (data) {
                    var _data=data.data;
                    _data.isAnyTime = function(){
                        return this.ransom_anytime=="true"
                    }
                    _data.isOldHouse = function(){
                        return this.hasOldHouse == true;
                    }
                    _data.ransomAccountHasValue = function () {
                        var account = this.ransom_account;
                        if (account !== null && account !== undefined && account !== ''){
                            return true;
                        }
                        return false;
                    };
                    var $applyTemplate = utils.render("#applyTemplate", _data);
                    $("#applyInfoContainer").append($applyTemplate);

                    if(utils.getUrlParam('process') !='true'){
                        var $relationTemplate = utils.render("#detailRelationTemplateCode",'');
                        $("#hongbenRelation").html($relationTemplate);
                    }

                    if(typeof callBack =='function'){
                        callBack();
                    }
                }
            });


        }
    })
</script>