<%var jsPart = {%>
<script src="/js/pages/push/detail.js"></script>
<%include("/push/comme_template/HONGBEN.html"){}%>
<%include("/push/comme_template/SHULOU.html"){}%>
<%include("/push/comme_template/CHEDAI.html"){}%>
<%include("/push/comme_template/GERENDAI.html"){}%>
<%include("/push/comme_template/PIAOJU.html"){}%>
<%include("/push/comme_template/YINPIAO.html"){}%>
<%include("/push/comme_template/BAOLI.html"){}%>
<script type="text/mustach-template" id="basicTmpInfo">
    <div class="ui form segment teal attached">
        <input type="hidden" name="loanId" value="{{order.loanId}}">
        <input type="hidden" name="id" value="{{order.id}}">
        <input type="hidden" name="pushId" value="{{order.pushId}}">
        <input type="hidden" name="code" value="{{order.code}}">

        <div class="ui header">基本信息</div>
        <div class="ui divider"></div>
        <div class="three fields ">
            <div class="field">
                <label>推送至</label>
                <select name="pushTarget">
                    <option value="KAISAFAX">佳兆业金服</option>
                </select>
            </div>
            <div class="field">
                <label>产品大类</label>
                <input type="text" name="productTypeName" value="{{order.productTypeName}}" readonly>
            </div>
        </div>
        <div class="three fields">
            <div class="field ">
                <label>放款主体</label>
                <input type="text" name="loanSubjectName" value="{{order.loanSubjectName}}" readonly>
            </div>
            <div class="field required">
                <label>渠道资金利率（%）</label>
                <input type="text" name="channelRate" value="{{order.channelRate}}" readonly>
            </div>
        </div>

        <div class="three fields">
            <div class="field ">
                <label>还款方式</label>
                <select name="repayMethod" disabled>
                    {{#repayMethod}}
                    <option value="{{key}}" {{#selected}} selected {{/selected}}>{{name}}</option>
                    {{/repayMethod}}
                </select>
            </div>
            <div class="field">
                <label>推单金额（元）</label>
                <input type="text" name="amount" value="{{order.amount}}" readonly>
            </div>
        </div>

        <div class="three fields">
            <div class="field">
                <label>平台借款人姓名</label>
                <input id="platformBorrower" name="platformBorrower" type="text" readonly value="{{order.platformBorrower}}" readonly>
            </div>
            <div class="fields two wide">
                <div class="field required">
                    <label>推单期限</label>
                    <select name="termType" disabled>
                        <option value="MOTHS">月</option>
                        <option value="DAYS">日</option>
                    </select>
                </div>
                <div class="field">
                    <label>&emsp;</label>
                    <input type="text" name="term" readonly>
                </div>
            </div>
        </div>
        <div class="three fields">
            <div class="field">
                <label>最大投标人数</label>
                <input type="text" name="maxInvestor" value="{{order.maxInvestor}}" readonly>
            </div>

            <div class="field required ks-hidden disabled" id="billRelation">
                <label>关联票号</label>
                <select id="billList" disabled multiple="" name="billCode" class="ui fluid normal dropdown">

                </select>
            </div>
        </div>
        <div class="three fields">
            <div class="field">
                <label>标的单号</label>
                <input type="text" readonly value="{{order.code}}">
            </div>
            <div class="field">
                <label>对应平台借款用户</label>
                <input type="hidden" name="platformBorrowerId" value="{{order.platformBorrowerId}}">
                <input type="text" readonly id="mobile" name="platformBorrowerName" value="{{order.platformBorrowerName}}" placeholder="请输入11位手机号/用户名">
            </div>
        </div>


        <div class="ui header">项目信息</div>
        <div class="ui divider"></div>

        <!--项目信息模板-->
        <div id="loanTmpInfo"></div>
        <div class="ui button red " onclick="window.history.go(-1)">返回</div>
    </div>

</script>
<%};%>


<%var htmlPart = {%>
<div  class="ui grid segment" id="info">

</div>
<%}; include("/common/top.html",{jsSection:jsPart,htmlSection:htmlPart,title:"推单详情"}){}%>

