<div class="ui modal" id="addIntermediary">
    <i class="close icon"></i>
    <div class="header">
        新增居间人
    </div>
    <div class="content">
        <form class="ui form" id="addIntermediaryFrom">
            <div class="ui segment">
                <div class="two fields">
                    <div class=" field required">
                        <label>居间人姓名</label>
                        <input type="text" name="name">
                    </div>
                    <div class=" field required">
                        <label id="idNumberUpdate">身份证号码</label>
                        <input type="text" name="idNumber">
                    </div>
                </div>
                <div class="two fields">
                    <div class=" field required">
                        <label class="three wide">电话</label>
                        <input type="text" name="phone"/>
                    </div>
                    <div class=" field">
                        <label>地址</label>
                        <input type="text" name="address">
                    </div>
                </div>
                <div class="two fields">
                    <div class=" field required">
                        <label class="three wide">开户行</label>
                        <input type="text" name="bank"/>
                    </div>
                    <div class=" field required">
                        <label>账号</label>
                        <input type="text" name="account" class="js-bankCard">
                    </div>
                </div>
                <div class="fields">
                    <div class=" field">
                        <label>身份证件</label>
                        <span class="js-uploadBtn button ui mini" data-catalog="intermediary"><i class="upload icon"></i>选择上传文件</span>
                        <a href="" target="_blank" class="js-fileName"></a>
                        <span class="ui red button mini" onclick="submitFrom.clearFile('addIntermediary')">删除</span>
                        <input type="hidden" name="contractFileName" disabled>
                        <input type="hidden" name="contractFileUrl" disabled>
                        <input type="hidden" name="contractFileUrls">
                    </div>
                </div>
            </div>
            <div class=" grouped fields">
                <label class="four wide">状态：</label>
                <input type="radio" name="status" value="ABLE" checked/>生效
                <input type="radio" name="status" value="DISABLED"/>失效
            </div>
            <div class="actions">
                <div class="ui teal submit button" id="addIntermediaryBtn">
                    提交
                </div>
                <div class="ui gray deny button">
                    取消
                </div>

            </div>
        </form>
    </div>
</div>