<div class="ui modal" id="productFlowModal">
    <i class="close icon"></i>
    <div class="header">复制产品流程</div>
    <div class="content">
        <div class="ui search js-productSearch focus">
            <div class="ui icon input">
                <input type="hidden" id="flowProductId" value="">
                <input class="prompt js-input" type="text" id="productSearch" placeholder="输入产品名称或代码查询" autocomplete="off">
                <i class="search icon"></i>
            </div>
            <div class="results transition hidden"><div class="message empty"><div class="header">No Results</div><div class="description">无匹配内容</div></div></div>
        </div>
        <div class="content" id="addFlowContent"></div>
    </div>
    <div class="actions">
        如果此产品已配置流程，那么原有流程将会被覆盖。
        <div class="ui black  deny button">
            取消
        </div>
        <div class="ui teal button" id="copyFlowSubmit">确定</div>
    </div>
</div>

<div class="ui modal" id="productFlowModalView">
    <i class="close icon"></i>
    <div class="header">产品流程查看</div>
    <div class="content" id="viewFlowContent">

    </div>
</div>

<script src="/js/pages/product/flow.js"></script>


