<link rel="stylesheet" type="text/css" href="/css/ztree/zTreeStyle/zTreeStyle.css">
<div class="ui modal" id="productOrganizeModal">
    <i class="close icon"></i>
    <div class="header">机构组织关联</div>
    <div class="content">
        <div class="content_wrap">
            <div class="zTreeDemoBackground left">
                <ul id="organizeTree" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black  deny button">
            取消
        </div>
        <div class="ui teal button" id="addOrganizeSubmit">确定</div>
    </div>
</div>

<div class="ui modal" id="productOrganizeModalView">
    <i class="close icon"></i>
    <div class="header">机构组织关联查看</div>
    <div class="content">
        <div class="content_wrap">
            <div class="zTreeDemoBackground left">
                <ul id="organizeTreeView" class="ztree"></ul>
            </div>
        </div>
    </div>
</div>

<script src="/js/plugins/jquery.ztree.core.min.js"></script>
<script src="/js/plugins/jquery.ztree.excheck.min.js"></script>
<script src="/js/pages/product/organize.js"></script>


