<link rel="stylesheet" type="text/css" href="/css/ztree/zTreeStyle/zTreeStyle.css">
<div class="ui modal" id="modal_product_add">
    <div class="header">渠道关联产品类型</div>
    <div class="content">
        <div class="content_wrap">
            <div class="zTreeDemoBackground left">
                <ul id="productTree" class="ztree"></ul>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black  deny button">
            取消
        </div>
        <div class="ui teal button" id="addOrganizeSubmit">确定</div>
    </div>
</div>

<div class="ui modal" id="modal_product_view">
    <i class="close icon"></i>
    <div class="header">渠道关联产品类型查看</div>
    <div class="content">
        <div class="content_wrap">
            <div class="zTreeDemoBackground left">
                <ul id="productTreeView" class="ztree"></ul>
            </div>
        </div>
    </div>
</div>

<script src="/js/plugins/jquery.ztree.core.min.js"></script>
<script src="/js/plugins/jquery.ztree.excheck.min.js"></script>
<script src="/js/pages/channel/product_type.js"></script>
